[2016-12-01 03:51] rajinder-yadav opened #845 "Write a Guide for the Input Output App"
Write a started guide to be used as a blueprint for Augury's guide.
Created a separate folder and save the IO App guide as a markdown file.

[2016-12-01 03:58] rajinder-yadav commented on #845
Ready for initial review.

[2016-12-01 18:50] aitboudad opened #848 "[routerTree] Cannot read property 'name' of undefined"
I get the following error for an app that doesn't use `angular/router`
[code]
![selection_042](https://cloud.githubusercontent.com/assets/1753742/20807292/4276e656-b7f6-11e6-901d-6ca08c900bea.png)

[2016-12-01 19:49] #796 closed

[2016-12-01 19:50] rajinder-yadav commented on #796
Guide moved from gdocs to markdown file under Augury github docs/guide

[2016-12-01 19:56] rajinder-yadav commented on #804
Demo app ready for review, doc worked moved to waffle #845

[2016-12-01 22:19] souldreamer commented on #848
Same error (no router either), but my error message is way less to the point

![](https://d17oy1vhnax1f7.cloudfront.net/items/1s3b2M0b1P1B3u2V0n20/Image%202016-12-02%20at%2012.17.27%20AM.png?v=998c4297)

[2016-12-01 22:25] stevenkampen commented on #848
Thanks for reporting this guys. @souldreamer Yours looks like it might be a different issue, but I will look into it and create another issue if need be. We will likely do a release at end of day tomorrow, so with any luck this should be solved for you then.

[2016-12-01 22:30] souldreamer commented on #848
@stevenkampen Might just be a separate issue, don't currently have time to whittle it down. I put the current project it appears in on github though if someone feels like looking at the issue more: https://github.com/souldreamer/noti-cli-configurator

[2016-12-01 22:30] stevenkampen commented on #848
@souldreamer Ah thanks. That will speed things up a lot.

[2016-12-02 11:57] stevenkampen commented on #848
@aitboudad I can't reproduce your issue with a bare app created by the cli. Any chance you can provide a repo where it exists?

[2016-12-02 14:23] aitboudad commented on #848
@stevenkampen I use `ui-router` see https://github.com/ui-router/quickstart-ng2

[2016-12-02 14:25] stevenkampen commented on #848
@aitboudad Ok, thanks!

[2016-12-02 18:24] stevenkampen opened #851 "ng2-material-dropdown results in undefined injector type"
In [this line](https://github.com/Gbuomprisco/ng2-material-dropdown/blob/e97fe85d264e0d1e9c9ec67aa037786b62331413/src/modules/components/menu/ng2-dropdown-menu.ts#L56) of the ng2-material-dropdown component, the first injected dependency returns a type of `undefined` using reflect-metadata, which breaks Augury.

Some investigation is need to determine why this happens.

@souldreamer, this is your

[2016-12-02 18:32] #832 closed

[2016-12-02 20:19] #804 closed

[2016-12-02 21:07] rajinder-yadav opened #852 "Research change detection"
Reading up on CD and look at exciting code in kitchen app so see if it's sufficient.

[2016-12-02 21:36] #848 closed

[2016-12-03 01:49] stevenkampen commented on #848
@aitboudad The fix for this issue has just been released in Augury v1.2.6. You should see it in the chrome web store imminently.

[2016-12-03 10:52] aitboudad commented on #848
@stevenkampen many thanks :)

[2016-12-04 18:33] souldreamer commented on #851
Refactoring the project to use a service instead of the `forwardRef`s makes it work with Augury, so it's definitely something to do with those. Here's a version that does this: https://github.com/souldreamer/ng2-material-dropdown

[2016-12-05 12:36] aitboudad opened #856 "Provide a way to refresh angury when using webpack Hot Module Replacement"
I get the following message:
[code]

[2016-12-05 15:48] mobinni opened #857 "Add padding to injector provider tab"

[2016-12-05 16:57] #774 closed

[2016-12-05 17:58] mobinni commented on #856
@aitboudad My initial thought is this is because HMR hotpatches your code and whatever that does, breaks augury from correctly parsing the Angular root element. We will need to research this in order to confirm it. A potential fix for you could be to introduce polling with webpack, for a full page-refresh.

[2016-12-05 18:58] rajinder-yadav opened #858 "Add a border around IO App title"
Use Augury colour.

[2016-12-05 19:02] aitboudad commented on #856
check https://github.com/jschwarty/angularcli-hmr-example

[code]

[2016-12-05 19:04] mobinni commented on #856
@aitboudad Thank you, we will try to get to this as soon as possible

[2016-12-05 19:07] aitboudad commented on #856
when updating the title of `AppComponent` the state component disappear

![augry](https://cloud.githubusercontent.com/assets/1753742/20898168/45c9010c-bb1d-11e6-99c3-2fdcdef1616a.gif)

I have a difference behavior on my project but I couldn't reproduce it on the example app.

[2016-12-05 20:16] rajinder-yadav opened #860 "Demo app, Form New User"
resolves  #874
Create a demo app showing template base form.

Create a new "New User" registration form with input validations.

[2016-12-06 05:12] rajinder-yadav opened #862 "Replace basscss with tachyons"
basscss is the pain to work with.

[2016-12-06 17:39] tomasro27 commented on #687
Hello @sumitarora,
Do you have any updates on this issue?
Thanks

[2016-12-06 18:27] mobinni commented on #687
@tomasro27 Hi, I'm Mo (also on the Augury team) do you have a piece of example code I use by chance?

[2016-12-06 20:57] jameskleeh commented on #376
I was getting this in a unit test because I replaced Router with a mock. I removed the mock and instead injected the router into the test and called `spyOn(router, 'navigateByUrl')`

[2016-12-06 23:54] rajinder-yadav opened #864 "Fix image jitter in toggle component"
The image transition is not smooth, there is a flash and jittery update initially.

[2016-12-07 17:03] rajinder-yadav opened #868 "Augury usage with pure ES6 Apps."
Generate a list of known issues with Augury for ng2 apps written in ES6.

This will be vital for the Augury guide.

[2016-12-07 18:59] rajinder-yadav opened #870 "Move demo app code to new repo"
Move new apps from Augury example as well as kitchen sink demo.

[2016-12-07 19:22] rajinder-yadav commented on #870
The new repo is here: https://github.com/rangle/augury-examples

It's a work in progress, should only contain demo app for Augury.

[2016-12-07 19:22] #870 closed

[2016-12-07 19:23] rajinder-yadav opened #871 "Move Augury Guide"
Move Augury guide out of augury repo into new repo for the guide.

[2016-12-07 19:24] rajinder-yadav commented on #871
The new guide repo is here: https://github.com/rangle/augury-documentation

[2016-12-08 00:31] stochris opened #872 "A way to find component based on inputs"
Having a way to highlight or filter a component by type and input properties.

It can be really useful when dealing with big lists and nested repeats, in order to more easily debug faulty inputs or application logic

[2016-12-08 04:05] studds opened #873 "Track whether app / component is stable"
Is there a way view whether a given component is stable (ie. `ngZone.isStable === true`)? This would be a real boon when debugging apps.

[2016-12-08 18:22] #858 closed

[2016-12-08 18:23] #792 closed

[2016-12-08 18:23] #871 closed

[2016-12-08 18:24] rajinder-yadav commented on #788
Dup, closing as this work will be broken out.

[2016-12-08 18:25] #788 closed

[2016-12-08 18:26] #864 closed

[2016-12-08 18:26] #862 closed

[2016-12-08 18:31] rajinder-yadav opened #874 "Create a demo app for simple Form"
Create a simple template based form
make use of service and another component to display submitted data.

[2016-12-12 16:16] mobinni opened #877 "Injector graph on hover"
Currently the injector graph has injection points with the names below the bubbles.
It would be nice to set cut-off points for text, because if the name of a class/service/... is too long it could potentially lead to unreadable UI.

When text reaches the cut-off point it will initiate an on-hover pop-over that will contain the full name.

Potential addition: angle the text at 45 degrees.

[2016-12-12 16:18] igor-ka commented on #877
@stevenkampen @mobinni i think we don't need the diagonal labels (those can overlap as well) after all.

Let's just add a `...` at the end of an injectable that is too long, and show the full name when hovering over the corresponding circle.

what do you think?

[2016-12-12 16:18] mobinni commented on #877
Sounds good!

[2016-12-12 16:18] stevenkampen commented on #877
@igor-ka Yeah, ellipsis make sense there.

[2016-12-13 14:59] stevenkampen opened #880 "Improve router tree background in dark mode"

[2016-12-14 17:24] #845 closed

[2016-12-14 17:26] #874 closed

[2016-12-14 17:26] #860 closed

[2016-12-14 17:32] rajinder-yadav commented on #789
This story has been broken down into smaller one to create ng2 sub apps + guide, closing this as it's a dup.

[2016-12-14 17:32] #789 closed

[2016-12-14 17:37] rajinder-yadav opened #882 "Write guide for ng2 Form demo app."
Write a guide to show usage of Augury with the template based demo app.

The app has following point of interest:
* ng2 form
* service
* observable
* components

[2016-12-14 19:32] rajinder-yadav opened #883 "Augury shows 2 NgForm when there is 1"
<img width="427" alt="screen shot 2016-12-14 at 2 30 39 pm" src="https://cloud.githubusercontent.com/assets/439226/21197630/211227b4-c20a-11e6-8497-42e5caef79c6.png">

[2016-12-14 20:03] rajinder-yadav opened #884 "Injector graph looks wrong"
This is not a new bug, I believe we've always showed things this way.

In the Augury demo Form app, Augury incorrectly shows "NewUserService" being injected by the AppComponent, this is really not the case.

The NewUserService belongs to the entire app, which is getting injected by the "Root injector". This is defined in App's NgModule.

<img width="513" alt="screen shot 2016-12-14 at 2 43 02 pm"

[2016-12-15 09:56] stevenkampen commented on #884
@rajinder-yadav Yes, that's because the old injector graph was showing that it was 'provided' at that level (for reasons I never quite grasped). I've included screenshots of what it looks like with the new injector graph.
<img width="276" alt="screen shot 2016-12-15 at 10 55 13 am" src="https://cloud.githubusercontent.com/assets/898763/21219450/2624e344-c2b5-11e6-9388-29c38369b1b5.png">
<img width

[2016-12-15 16:45] #624 closed

[2016-12-16 16:39] rajinder-yadav commented on #883
Also happen with elements, we see multiple NgModel and Array when there is only one per element.
![screen shot 2016-12-16 at 11 36 55 am](https://cloud.githubusercontent.com/assets/439226/21270337/3479791c-c384-11e6-9edd-f310bd7bf685.png)

[2016-12-16 17:40] stevenkampen commented on #884
This is resolved now with the injector graph improvements in #867

[2016-12-16 17:40] #884 closed

[2016-12-16 21:22] rajinder-yadav opened #888 "We should rename 'State' under Properties, it's a class 'member'."
Is classical Object Oriented languages, a class variable is called a `member` and a class function is called a `method`.

JS mixes this up with calling them either a `property` or a `field`, likewise TypeScript does an even poorer job of naming anything in a class, a member.

I recommend we rename `State` to `Members`. It is strange to call something a State which has a emit button. A state is ass

[2016-12-19 15:21] stevenkampen commented on #877
We have simple ellipses now, but still require some hover menu to show the full text and also other context (NgModule origin, etc).

[2016-12-20 00:19] lmssrinivas commented on #848
Still facing the same issue..

`Uncaught TypeError: Cannot read property 'name' of undefined
    at Object.exports.functionName (chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/backend.js:4453:19)
    at chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/backend.js:8717:24
    at Array.map (native)
    at getDependencies (chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/b

[2016-12-20 08:05] stevenkampen commented on #848
@lmssrinivas Are you using ng-material-dropdown? If so, then we're tracking this issue [here](https://github.com/rangle/augury/issues/851). Otherwise, can you open a new issue with steps to recreate or possibly a link to a repo which exhibits it? Thanks.

[2016-12-20 08:06] stevenkampen commented on #851
@souldreamer Ok, I guess it's a forwardRef specific thing, which I can test easily enough. Thanks for the context.

[2016-12-21 09:57] QuentinFchx commented on #90
@clbond are you sure ?
For instance, I can't see dialogs created through @angular/material in the Augury inspector

[2016-12-21 14:52] Angelmmiguel commented on #851
I have the same problem with https://github.com/Gbuomprisco/ng2-material-select:

<img width="898" alt="screen shot 2016-12-21 at 15 51 47" src="https://cloud.githubusercontent.com/assets/4056725/21393600/6bd96dda-c795-11e6-9332-06f9dff8cb7a.png">

[2016-12-21 17:10] #882 closed

[2016-12-21 17:11] rajinder-yadav opened #892 "Augury, Intro Guide"
Write an introduction guide for Augury to go over features.

[2016-12-21 17:12] rajinder-yadav commented on #892
Write an introduction guide for Augury to go over features.

[2016-12-21 23:23] rajinder-yadav commented on #892
tracking issues #11 from augury-documentation repo
branch task-11-augury-intro-guide

[2016-12-23 15:51] rajinder-yadav opened #896 "Delete kitchen sink project"
Kitchen sink project was moved to the augury-examples repo, this issues serves as a reminder to remove dead code from the augury repo.

[2016-12-23 18:25] rajinder-yadav opened #897 "Fix build script to fetch kitchen app from new repo"
The kitchen sink app has been moved to the augury-examples repo, and it's code will be delete from augury repo.

This will require the build script to pick up the app from the new location so it continue to work when people visit: https://augury.angular.io/dem.

[2016-12-23 18:57] rajinder-yadav opened #898 "Demo app for Routes"

[2016-12-23 19:01] rajinder-yadav commented on #898
Tracking: https://github.com/rangle/augury-examples/issues/14

[2016-12-27 06:50] mobinni commented on #897
Created a PR for a staging build: https://github.com/rangle/augury.angular.io/pull/51

Please cleanup the app folder of the kitchen-sink examples. It builds multiple output files to the app folder. Also the index.html should output the vendor scripts with a ```./vendors.[hash].js``` instead of the ```/vendors``` please fix this. It is necessary before staging can be merged into master for the augu

[2016-12-29 01:47] tomasro27 commented on #687
Hi @mobinni !  Are you running on Windows, mac or linux?  I will try to put a sample electron app with angular2 code for you.
Thanks

[2016-12-29 07:50] rajinder-yadav opened #900 "Router Tree broken in angular 2.4.1"
Router tree is not working for my routes demo app, nothing shows up.
It still works for the kitchen sink app.

[2016-12-29 11:29] stevenkampen commented on #900
@rajinder-yadav Can you provide the source of this app you're testing with? Do you inject the router into the route component?

[2016-12-29 15:24] rajinder-yadav commented on #900
It's just basic angular routing, nothing fancy. I've merged my demo app, you can pick it from:

https://github.com/rangle/augury-examples/

[2016-12-29 15:26] stevenkampen commented on #900
@rajinder-yadav Until we complete #829, the router still needs to be injected into the root component and called `router`, for augury to be able to parse it. Any chance you want to make this work? ;)

[2016-12-29 16:59] rajinder-yadav commented on #900
Talked with @stevenkampen, and looks like all we need to do is at code to do a simple check and then fallback if that fails.

I'll take a look at this issues.

[2016-12-29 21:01] tomasro27 commented on #687
hi @mobini,
I have created a repo (https://github.com/tomasro27/electron-angular2-sample) with a very basic electron app running angular2 code and with augury installed on it.

Follow the readme to run the electron app with augury.

Also, if you do 'npm start' from the boilerplate folder (After 'npm install'), you can run the app without electron.  It will open with chrome if this is your default

[2016-12-30 02:32] kwonoj commented on #687
@mobinni I just created simple bootstrap PR here (https://github.com/paulcbetts/forge-examples/pull/1) , probably you can give those a try. when I tried augury it behaves same as others which showing tab only but does not display any components.

[2016-12-30 12:55] stevenkampen commented on #622
No longer an issue.

[2016-12-30 12:55] #622 closed

[2016-12-30 13:02] #838 closed

[2016-12-30 13:04] stevenkampen commented on #900
@rajinder-yadav I think we should close this and track the improvement on #829

[2016-12-30 13:58] rajinder-yadav commented on #900
Closing as dup!

[2016-12-30 13:58] #900 closed

[2016-12-31 13:13] #567 closed

[2017-01-02 04:47] ajsuvarna6 opened #903 "State of component is not displaying"
Augury is a very good tool while developing angular 2 application. But the problem is, it doesn't display state of component. For some components it is showing state, but then some components it doesn't show state. Only dependency is displayed.

[2017-01-03 16:40] stevenkampen commented on #903
@ajsuvarna6 Can you provide an example repo or plunker where this occurs? That symptom has been reported (but not seen by me) when the router is injected into the component. Is this the case?

[2017-01-04 16:04] #897 closed

[2017-01-04 16:05] mobinni commented on #687
@kwonoj  @tomasro27 Hey, thanks for your help, the team will definitely look into this! @stevenkampen @rajinder-yadav

[2017-01-04 21:40] jd-nfreitas commented on #903
It seems to depend on the dependencies. Having MdDialog (Angular Material2) listed as a dependency for a component will make state not show up for the component on Augury 1.2.7.

[2017-01-05 11:06] pierre-H commented on #625
I tried with :

Ionic Framework Version: 2.0.0-rc.4
Ionic CLI Version: 2.1.17
Ionic App Lib Version: 2.1.7
Ionic App Scripts Version: 0.0.47
ios-deploy version: Not installed
ios-sim version: Not installed
OS: Windows 7
Node Version: v7.3.0
Xcode version: Not installed

and it doesn't work : I've got this error `Cannot read property 'name' of undefined`.

[2017-01-06 17:52] ammarhaider7 commented on #903
@stevenkampen I'm experiencing the same thing only for components where I'm injecting router..

[2017-01-10 23:33] rocco commented on #625
any news on this for anyone here? does not seem with ionic@2.1.18. thanks!

[2017-01-11 13:13] irackley-mc commented on #903
@stevenkampen I'm seeing the same when using ngTemplateOutlet. The component loses all properties in the viewer. I'll see if I can get a plunker together, but I first ran across it while running ngx-datatable locally and viewing one of their tabs that uses ngTemplateOutlet i.e. Row Detail under Basic.
https://github.com/swimlane/ngx-datatable
Unfortunately their demo page is run in prod mode so yo

[2017-01-11 14:53] stevenkampen commented on #903
@irackley-mc Thanks for your report. I'll get on this shortly and let you know when it's done.

[2017-01-11 18:53] #829 closed

[2017-01-11 19:04] #764 closed

[2017-01-11 19:04] #803 closed

[2017-01-13 21:48] stevenkampen commented on #877
This is solved now by #899

[2017-01-13 21:48] #877 closed

[2017-01-13 23:11] stevenkampen commented on #903
Ok I can recreate this now and confirm it's an issue with serialization/deserialization of some complex objects. Looking into it.

[2017-01-14 23:07] gmarziou opened #914 "Route data is not displayed"
Using Augury 1.2.8, the Router Tree does not show route's data.

Here is a the repo of a small app that shows the problem: https://github.com/gmarziou/route-data

It defines a route with some data:

[code]

but data is not displayed in route info popup:

![2017-01-15_00h05_35](https://cloud.githubusercontent.com/assets/361007/21958791/7b94d7e4-dab6-11e6-88bf-6f100f0a083e.png)

[2017-01-16 15:53] rajinder-yadav commented on #898
Moving to augury-examples waffle

[2017-01-16 15:53] #898 closed

[2017-01-16 15:54] rajinder-yadav commented on #892
Completed and release on website.

[2017-01-16 15:54] #892 closed

[2017-01-16 16:00] rajinder-yadav commented on #790
Moved to augury-documentation

[2017-01-16 16:00] #790 closed

[2017-01-16 20:30] rajinder-yadav opened #916 "Support lazy loaded modules in NgModule"
When a lazy loaded module load into the application, it does not appear in the NgModule tab.

We should refresh the list when a module is loaded.

[2017-01-16 20:35] rajinder-yadav opened #917 "Router tree, lazy loaded routes show incorrect path in popup"
When you hover over a child route node, it shows the subpath as being the root path.

What should be shown is the complete path from the root to the child node.

[2017-01-16 20:54] rajinder-yadav opened #918 "Injector Graph prevent tabs from switching"
1. Click on inject graph
2. Click on a component
3. Click on an injector not to make on status info at bottom display something
4. Click on the status info so it has focus
5. Click on a devtools tab

Result: you will not be able to switch between tabs.

(*) Something the status info fails to show up.

![injector-graph](https://cloud.githubusercontent.com/assets/439226/21998612/e7477b24-dc03-11e6-8

[2017-01-17 04:55] stevenkampen commented on #918
@rajinder-yadav It looks like the issue actually happens when displaying the extra info panel (you can see "NgModule:" is blank. Can you point me towards this repo code so I can see why that is?

[2017-01-17 09:16] renehamburger opened #920 "Exception thrown on Microsoft Office online (and probably other sites, too)"
Logging into www.office.com fails, if the Augury extension is enabled, even when the Chrome developer tools are closed. An exception is thrown in [backend.ts#175](https://github.com/rangle/augury/blob/2ca189796ed821c9030fdd1a4c400e17b91f6d9b/src/backend/backend.ts#L175):
`Object.defineProperty(window, selectedComponentPropertyKey, { value: noSelectedComponentWarningText });` and the subsequent cal

[2017-01-17 09:23] renehamburger commented on #920
The cause seems to lie outside of the Augury extension. I close this for now.

[2017-01-17 16:13] rajinder-yadav commented on #918
https://github.com/rajinder-yadav/augury-examples
Work off the branch task-14-demo-app-routes

[2017-01-17 16:21] rajinder-yadav commented on #917
![wrong-path](https://cloud.githubusercontent.com/assets/439226/22028953/f9f06dfa-dca6-11e6-8c48-49f6d5dafef3.gif)

[2017-01-17 16:58] rajinder-yadav opened #921 "Show name for named router outles"
For a named router outlet display its name in the Component Tree.

Picture below has two router outlets, the one at the bottom is named, would be good to display the name inside round brackets like we do for DOM nodes.

<img width="270" alt="screen shot 2017-01-17 at 11 55 27 am" src="https://cloud.githubusercontent.com/assets/439226/22030542/e57dbef4-dcab-11e6-8166-59f5ebf8f991.png">

[2017-01-17 17:56] aitboudad opened #922 "Exception `Object.getMetadata` since last upgrade"
![selection_063](https://cloud.githubusercontent.com/assets/1753742/22032825/06d8f71c-dcde-11e6-97f0-aa076ca22333.png)

Repo: https://github.com/angular/universal-starter

[2017-01-18 16:44] rajinder-yadav opened #925 "Component tree shows incorrect order of elements"
DevTools shows all 3 anchor links correctly, however Component Tree display the last anchor at the bottom, this should be at the top.

![screen shot 2017-01-18 at 11 39 40 am](https://cloud.githubusercontent.com/assets/439226/22073310/045f0fcc-dd73-11e6-996e-e8301bf85f1f.png)

Looking at the template code, we have:

[code]

[2017-01-18 19:22] rajinder-yadav opened #926 "Injector Graph, second router outlet not shown"
When a new component is loaded, if it has an router outlet, it does not get show.

`ParkComponent` has a `router-outlet` which is not shown.
![screen shot 2017-01-18 at 2 11 05 pm](https://cloud.githubusercontent.com/assets/439226/22079063/89241710-dd88-11e6-80a8-ce9b9fd7b0f7.png)

Here is the template code for that component:

[code]

[2017-01-19 12:45] halfzebra opened #927 "Properties of components from *ngFor are not displayed"
The component is outputted using `*ngFor` with `trackBy`

My dependencies:

[code]

Here's what I'm getting fro the component with many inputs, outputs, and properties:

![capture123](https://cloud.githubusercontent.com/assets/3983879/22106509/4ad68954-de49-11e6-9fd0-10212cd5fdab.PNG)

Other components are displayed properly.

[2017-01-20 16:54] #926 closed

[2017-01-20 21:28] #903 closed

[2017-01-23 18:06] #922 closed

[2017-01-23 18:59] stevenkampen commented on #903
This is fixed now in version 1.2.9, which was just released.

[2017-01-23 19:03] stevenkampen commented on #699
This has been fixed in version 1.2.9 which was just released.

[2017-01-23 20:50] amellnik commented on #699
I think this or a similar issue is still present -- after updating to 1.2.9 I still can't see the state for components which have `Router` and `ActivatedRoute` injected.

[2017-01-24 12:31] aitboudad commented on #856
I solved my issue with hacky way :)
[code]

[2017-01-25 21:26] #918 closed

[2017-01-26 15:48] jh-code commented on #90
This is not working again, due to Angular deprecating the DynamicComponentLoader. They now use the ComponentFactoryResolver.

[2017-01-26 15:56] jh-code commented on #90
This does not work anymore. Angular doesn't use DynamicComponentLoader anymore either, they use the ComponentFactoryResolver.

[2017-01-30 15:47] rajinder-yadav commented on #680
We can use this app: https://github.com/vsavkin/ng1ng2router

[2017-01-30 15:48] stevenkampen commented on #857
<img width="275" alt="screen shot 2017-01-30 at 10 46 23 am" src="https://cloud.githubusercontent.com/assets/898763/22429722/89701a0c-e6d9-11e6-8510-b12002073ad3.png">

Indent Service3 & Service4 here...

[2017-01-30 15:52] #852 closed

[2017-01-30 16:01] #391 closed

[2017-01-30 16:42] #868 closed

[2017-01-30 18:28] #663 closed

[2017-01-30 23:08] tomasro27 commented on #687
@mobinni any updates?

[2017-01-31 00:36] stevenkampen commented on #920
@renehamburger I've tried to recreate this but I am able to log in without issue. Is there anything special you're doing? At what point exactly do you see the error? If you could provide a screencast of the whole thing happening, that might be helpful.

<img width="957" alt="screen shot 2017-01-30 at 7 32 16 pm" src="https://cloud.githubusercontent.com/assets/898763/22447887/5e4a6ce8-e723-11e6-956

[2017-01-31 16:41] rajinder-yadav opened #947 "Show attributes for DOM input element"
We don't show the attributes for `input` fields in the component tree:

<img width="302" alt="screen shot 2017-01-31 at 11 35 30 am" src="https://cloud.githubusercontent.com/assets/439226/22474409/b180d52e-e7a9-11e6-9e8f-6440866a5b1e.png">

We should show their attributes, something like

`input(name: running, type: checkbox, value: running)`

This info is currently available:

<img width="255" al

[2017-01-31 16:43] stevenkampen commented on #947
@rajinder-yadav We actually have an issue for this already (#647). The same issue actually applies to lots of different types of elements, so I want to do it all at once.

[2017-01-31 16:48] #947 closed

[2017-02-06 15:03] #914 closed

[2017-02-06 15:03] #917 closed

[2017-02-07 21:28] rajinder-yadav opened #952 "Improve issue reporting"

[2017-02-07 21:29] rajinder-yadav commented on #952
New feature to allow User to create an issue from Augury.
Pre-populate issue report with instructions.

[2017-02-08 15:52] stevenkampen opened #955 "Add Sentry.io for error reporting"

[2017-02-08 16:42] rajinder-yadav commented on #952
Completed, just need new icon, will create new issues for this.

[2017-02-08 16:42] #952 closed

[2017-02-08 19:31] rajinder-yadav opened #956 "Cleanup the readme"
We have a guide, look into cleanup the readme and directing the public to the guide and relevant area on the website.

[2017-02-08 21:30] #880 closed

[2017-02-08 21:36] #857 closed

[2017-02-08 22:49] mdcotter opened #958 "Handle ngModule decorators that do not have any args defined"
Came across a completely random bug when using @ngrx/router-store.

this came from importing the `RouterStoreModule.connectRouter()` in the main AppModule.

I dug into their code to find that they are defining that modules decorators as such
`RouterStoreModule.decorators = [ { type: NgModule } ];`
with no args defined, which causes the error above.  If i update it manually to
`RouterStoreModule.de

[2017-02-09 10:38] stevenkampen commented on #958
@mdcotter Thanks for the report. Bug is fixed and will be in the new release that happens tomorrow.

[2017-02-09 19:20] rajinder-yadav opened #962 "Chore update Git issue body text."
Need to mention including code snippet .

[2017-02-09 22:35] #958 closed

[2017-02-10 01:54] Matmo10 opened #964 "Cannot read property '0' of undefined"
I get this error inconsistently when using augury:

[code]

It seems to be coming from this generated code:
[code]

Apparently `decorators[idx].args` is undefined at some point.

![img](http://i.imgur.com/3dmpAE1.png)

Let me know what else I can do to help.

[2017-02-10 17:49] Svoig commented on #964
Running into the same problem, starting yesterday.  When I step through, decorators[idx].args does indeed eventually become undefined.

![augury_bug](https://cloud.githubusercontent.com/assets/12769177/22837614/389c18e2-ef76-11e6-9d45-47d79cabc566.png)

[2017-02-10 19:24] #851 closed

[2017-02-10 19:25] #925 closed

[2017-02-11 17:53] okngay opened #968 "Update for angular 2.4.7"
Pleace update support for angular 2.4.7

[2017-02-12 12:07] ryanki1 commented on #625
Having upgraded to the following configuration:

Cordova CLI: 6.3.1
Ionic Framework Version: 2.0.0
Ionic CLI Version: 2.1.1
Ionic App Lib Version: 2.1.1
Ionic App Scripts Version: 1.0.0
OS: Windows 7 SP1
Node Version: v6.9.5

Augury doesn't appear to be mirroring correctly the status of my page stack as I click through the app :-(

[2017-02-13 09:55] halfzebra commented on #927
Works now! 👍

[2017-02-13 09:55] #927 closed

[2017-02-13 14:55] stevenkampen commented on #964
@Matmo10 @Svoig This should be fixed in v1.2.11. Can you guys confirm?

[2017-02-13 15:28] Matmo10 commented on #964
@stevenkampen I just updated to 1.2.11 and tried - haven't been able to reproduce it anymore. 👍

[2017-02-13 15:29] stevenkampen commented on #964
@Matmo10 Excellent. Thanks for confirming!

@Svoig I'm going to close this now assuming that it's also fixed for you, but let me know if that isn't the case somehow.

[2017-02-13 15:29] #964 closed

[2017-02-13 15:36] #956 closed

[2017-02-13 15:41] #827 closed

[2017-02-13 15:42] #716 closed

[2017-02-13 15:44] stevenkampen commented on #762
Need to investigate if it's possible & wise to implement batscanner, or just the same functionality.

[2017-02-13 15:46] stevenkampen commented on #968
Need to investigate what doesn't work and what is required to fix that.

[2017-02-13 16:16] rajinder-yadav opened #969 "Add sem-version info to readme"
We're now following sem-versioning for Augury, this need to be added to the readme and also a link to http://semver.org/

[2017-02-13 16:51] ArielGueta opened #970 "Augury is very slow or not working"
I am using Chrome version 55.

When I am trying to navigate to different sections like `NgModules` it's very slow or not working at all.

The second thing is:

![alt text](https://s23.postimg.org/4t1xsxkij/Screen_Shot_2017_02_13_at_18_46_46.png "Screenshot")

When I am trying to click on the `filters` Input arrow nothing is happening.

[2017-02-13 17:06] rajinder-yadav commented on #842
moving to augury-documentation

[2017-02-13 17:07] #842 closed

[2017-02-13 17:07] rajinder-yadav commented on #841
Moved to augury-documentation

[2017-02-13 17:08] #841 closed

[2017-02-13 17:13] rajinder-yadav opened #972 "Delete the examples folder"
The example code repo was moved to augury-examples repo, this dup needs to be deleted.

[2017-02-13 17:26] rajinder-yadav commented on #972
dup #896

[2017-02-13 17:26] #972 closed

[2017-02-13 17:27] #962 closed

[2017-02-13 17:34] rajinder-yadav opened #974 "Update Browser action icons for Augury"
New icons for use in popup menu.

[2017-02-13 17:42] igor-ka opened #975 "Add issue creation format section to readme"
Hey @rajinder-yadav I think it would make sense to explain the ideal issue format for this repository in this repot. What do you think?

[2017-02-13 20:17] rajinder-yadav commented on #975
@igor-ka We have the steps defined in the issue that is created, I think they are self-explanatory. If you think we need to add more instructions to it, let me know.

I know when I open issues on other projects, I don't bother reading anything, I feel in a rush to get it out of the way and get back to what I was doing. I'm guess most people was the step to be quick and simple, that was one of the

[2017-02-13 20:49] rajinder-yadav opened #977 "Readme fix reporting issues image"
New icon appear on the popup menu, need to update readme to match the update.

[2017-02-13 21:28] obambrough commented on #970
Pressing the filter arrow (or any header, e.g. 'Injector Graph', 'Router Tree'...) does nothing, until you select a different element in the component tree, then navigate back to the previous component - the property will now be expanded (or the tab selected will be shown.) I reverted to Augury 1.2.10 and this fixed the problem.

[2017-02-13 21:30] ArielGueta commented on #970
How can I revert to 1.2.10?

[2017-02-13 21:33] obambrough commented on #970
Not sure if there's a proper way but I just went to the releases page (https://github.com/rangle/augury/releases) and downloaded the augury.crx for 1.2.10 and then dropped the downloaded file into my browser (I uninstalled the 1.2.11 first.) I'm not sure if extensions get automatically updated, but it is working for me right now.

[2017-02-13 21:34] ArielGueta commented on #970
OK, I will try this for now and will wait for the fix. Thanks.

[2017-02-13 23:30] rajinder-yadav commented on #968
I've confirmed, created a new app using ng-cli, and only the _Component Tree_ display the components, nothing else seems to be working.

* The tabs don't function, no properties get shown
* There is a delay before Augury is shown
* Clicking on the components in the _Component Tree_ does nothing
* Unable to select a component

[2017-02-14 03:29] tomwanzek opened #979 "Unable to expand Component State Properties"
First of all, thanks for this wonderful development tool 👍

I am currently experiencing the following issue. Component State Properties which are objects can no longer be expanded/collapsed in the Properties pane. E.g. `_element` in the below screenshot. The issue is independent of the component to be analyzed. This may possibly be related to a recent Chrome update, as I did  not experience the is

[2017-02-14 10:22] stevenkampen commented on #970
@ArielGueta @obambrough Can either of you guys point to a repo that exhibits this issue? I'm not able to reproduce with our example apps so far.

[2017-02-14 10:54] stevenkampen commented on #970
@ArielGueta @obambrough I believe I've found the problem and have the fix in #980. It will be merged and released soon.

[2017-02-14 11:04] stevenkampen commented on #970
@ArielGueta @obambrough You can confirm this fix with this extension binary (rename from `zip` to `crx`).
[augury-1806.zip](https://github.com/rangle/augury/files/773866/augury-1806.zip)

[2017-02-14 11:07] stevenkampen commented on #979
@tomwanzek I think this will be a duplicate of #970 (issue with empty routers). The fix is in #980, and you can test that with an extension binary in the comments of #970. If you can confirm that this fixes it for you, then I'll close this. Thanks!

[2017-02-14 11:39] ArielGueta commented on #970
I'm getting the error:
CRX_MAGIC_NUMBER_INVALID

[2017-02-14 11:40] ArielGueta commented on #970
I just changed the extension to crx and tried to load it manually in chrome://extensions/

[2017-02-14 14:04] stevenkampen commented on #970
I'm sorry. Try this one which is just the `crx` built locally and renamed to `zip`.
[augury.zip](https://github.com/rangle/augury/files/774260/augury.zip)

[2017-02-14 15:08] ArielGueta commented on #970
Working!

[2017-02-14 15:30] #975 closed

[2017-02-14 15:34] tyllrb commented on #883
Can't seem to re-produce this issue. From the screenshots it looks like you're testing this with the sample demo app for forms on the augury.io website? I used the same application and only one `NgForm` appears in the instance providers list. Same with `NgModel`, and `Array` on the inputs, only one appears now.

[2017-02-14 16:10] stevenkampen commented on #968
@rajinder-yadav Can you review this one quickly please? I want to make the new release as soon as possible.

[2017-02-14 16:57] #968 closed

[2017-02-14 16:57] #970 closed

[2017-02-14 16:57] #979 closed

[2017-02-14 17:19] stevenkampen commented on #970
@ArielGueta @obambrough Fixed in 1.2.12. Update should come through automatically in the next couple of hours.

[2017-02-15 03:46] panglisen opened #982 "augury Angular-cli When I installed the augury .Error is as follows"
![image](https://cloud.githubusercontent.com/assets/7509205/22959796/0368a968-f374-11e6-9215-d147df677eda.png)

How to solve?

[2017-02-15 03:47] panglisen commented on #982
![image](https://cloud.githubusercontent.com/assets/7509205/22959856/7875a59e-f374-11e6-8a9d-0ecd8a2d3acc.png)
There's nothing in it

[2017-02-15 08:18] realappie commented on #625
This is not the case anymore @sumitarora, you can close this.

[2017-02-15 14:50] #974 closed

[2017-02-15 14:51] #969 closed

[2017-02-15 16:13] stevenkampen commented on #982
@panglisen Can you elaborate on how this error can be recreated? Are you running the version from the webstore? Are you building a new project with the CLI?

[2017-02-15 18:37] obambrough commented on #970
@stevenkampen Thanks!, that worked for me too.

[2017-02-15 18:48] rajinder-yadav commented on #896
After discussing with Steven, he would like to keep kitchen sink around for his use, we don't need to make it public through the website that's all.

I also will copy over the Augury linting rule that not also need to be pulling in.

[2017-02-15 20:47] rajinder-yadav commented on #896
Added default linting rule generated by tslint and removed rule for quote style. This fix all the error Steven reported he was seeing in the new repo.

[2017-02-15 21:22] tomwanzek commented on #979
@stevenkampen Thx for the swift response, I just checked and the latest release 1.2.12 indeed fixes the issue above 👍

[2017-02-16 02:18] panglisen commented on #982
@stevenkampen
It is Augury version
![image](https://cloud.githubusercontent.com/assets/7509205/23003737/ae7f5d1a-f42d-11e6-9ed7-bcede2b4d421.png)

here is a new project build with CLI
![image](https://cloud.githubusercontent.com/assets/7509205/23004354/1a03539a-f431-11e6-93d4-995a9698f32b.png)

[2017-02-16 14:49] stevenkampen commented on #921
@tyllrb I think this one needs to go after #647, which addresses how or IF we should do this. The router outlet name *is* available in the properties tab when you select the component, so the user *can* see it. At any rate, this feature, if it goes ahead, will actually be a generic feature applying to potentially any element type and any piece of data within it's instance providers.

[2017-02-16 15:53] stevenkampen commented on #896
:shipit:

[2017-02-16 16:26] rajinder-yadav opened #983 "Github issue button"
We can also pre-populate the issue body when an issue is created straight from Github.

[2017-02-16 19:26] #983 closed

[2017-02-19 19:43] negue opened #987 "Empty Augury Tab - Vivaldi Support?"
It seems that the `tabId` is null, (atleast thats what the errors write).  I tried to fix it myself but it won't work ^^, `chrome.devtools.inspectedWindow` stays undefined, maybe this has to be called by a different context?

Although it seems to work for https://github.com/zalmoxisus/redux-devtools-extension/issues/116

Augury version (required): latest + git
Angular version (required): 2.4.6
Dat

[2017-02-22 08:07] luckylooke opened #992 "missing "state" in component properties tab"
Augury version (required): latest - 1.2.12
Angular version (required): 2.2.1
Date: 22. Feb 2017
OS: Mac OSX Sierra 10.12.3 (16D32)
Chrome: 56.0.2924.87 (64-bit)

Demo test application:
`ionic start myApp sidemenu --v2`

Description of issue:
non of the component has state property
http://prntscr.com/ebw6qc

Steps to reproduce:

1. click any component
2. state not shown

Thank you

[2017-02-22 09:01] luckylooke commented on #992
I have tested it in another app (augury demo) and I was able to find state in Form2 component, so problem seems to be in app design/dependencies/...
http://prntscr.com/ebwpps

I will look at implementation and let you know soon..

[2017-02-22 09:14] luckylooke commented on #992
I was trying to apply:
[code]
from example:
https://github.com/rangle/augury/blob/55fe09a361a7321fc3c235e50fa57205d2f933b7/example-apps/kitchen-sink-example/source/app.ts

to my app module, but still `state` property not shoving up :/

Here is my app.module:
[code]

[2017-02-22 23:12] rajinder-yadav commented on #817
Some initial image for light and dark mode, text is shown using light grey.

Just need to craft a message, add link to more readme info.

![no-routes](https://cloud.githubusercontent.com/assets/439226/23237196/49c07c0e-f92a-11e6-88fe-84f70ee97078.png)

![no-routes-dark](https://cloud.githubusercontent.com/assets/439226/23237199/4dc8ae3e-f92a-11e6-9e7c-ca90a6ddeab6.png)

[2017-02-23 17:49] #977 closed

[2017-02-23 18:01] rajinder-yadav commented on #817
Here is the current implementation, I added a link to the readme for older version.

![no-routes](https://cloud.githubusercontent.com/assets/439226/23272113/04cd432c-f9c8-11e6-848e-c9ac468872c8.gif)

[2017-02-27 09:52] stevenkampen opened #997 "Support Angular 4.0"

[2017-02-27 10:56] stevenkampen commented on #997
Looks like something has changed and the global `ng`no longer exists, but I haven't looked into it more than that. Not sure if the "debug" flag is set differently now, but others have reported this issue on the angular repo (https://github.com/angular/angular/issues/14738).

I've reached out to someone in the angular core team, so hopefully we'll hear back soon.

[2017-02-27 11:23] stevenkampen commented on #992
@luckylooke Can you provide a repo that this can be reproduced on, or exact instructions to create and run an app where this is possible?

[2017-02-27 11:24] stevenkampen commented on #987
@negue Can you elaborate on the issue you're seeing, and how you're producing it?

[2017-02-27 11:26] stevenkampen commented on #992
This is possibly a duplicate of https://github.com/rangle/augury/issues/992

[2017-02-27 18:49] rajinder-yadav commented on #812
@Rebolon I've followed your instruction and see no issues. In fact I am able to view the immutable property in Augury. Can you please test with the latest version of Augury.

FYI:
I simply create a angular-cli app.

![screen shot 2017-02-27 at 1 49 30 pm](https://cloud.githubusercontent.com/assets/439226/23374739/956b3834-fcf3-11e6-93d7-e28bd76351e9.png)

[2017-02-27 19:19] rajinder-yadav commented on #625
@realappie Thanks for reporting the problem is gone for you.

@pierre-H @vandna-thakkar can you please let us know how things are on your end? If you're are seeing an issue, please provide a demo app to help us investigate this issue.

[2017-02-27 21:59] negue commented on #987
Vivaldi - Extensions - Developer Mode
- load unpacked extensions (point to local repo of augury, which was built with `npm run dev-build`)
- click on „background  page“ (which opens the console for augury itself, but i guess you know that already xD
- open any angular2 app
- open augury tab in inspector of that angular2
- get an error in the „background page“ console

`Error in event handler for (

[2017-02-28 16:47] #817 closed

[2017-02-28 16:48] #896 closed

[2017-02-28 18:16] trognus commented on #992
I'm seeing this when I include ChangeDetectorRef as a dependency (removing works fine).

[2017-02-28 18:43] luckylooke commented on #992
@stevenkampen this is #992.. anyway, I will try to reproduce it somewhere public.. perhaps this week.

[2017-03-01 13:53] #916 closed

[2017-03-01 15:57] stevenkampen commented on #699
@Sabartius, @amellnik Ok I'll look into this again.

[2017-03-01 16:24] rajinder-yadav commented on #987
@negue officially we support chrome web browser. Also I've taken a look at vivaldi chrome extension, which I guess is what you're referring too. There is no details about what this plugin is doing, or who develops it. Also it looks like vivaldi plugin is trying to circumvent security by sending page info/data.

Can you please elaborate on what you mean by Vivaldi support? and exactly what you're t

[2017-03-01 19:51] rajinder-yadav commented on #873
Hi @studds, can you elaborate with practical examples of when this would be helpful to you? Thanks!

[2017-03-01 21:13] negue commented on #987
With `Vivaldi Support` I meant, if its possible to use `augury` in the [Vivaldi Web Browser](https://vivaldi.com) which has Chrome under-the-hood

[2017-03-01 22:35] studds commented on #873
Mostly for when I'm trying to work out why I have to run protractor tests with `ignoreSynchronization = true` (https://github.com/angular/protractor/issues/3349). I understand how to fix the problem, but I can only guess where it is.

[2017-03-02 15:14] stevenkampen commented on #997
Looks good with v4.0.0-rc.2!

[2017-03-02 15:14] #997 closed

[2017-03-02 15:35] stevenkampen commented on #699
@amellnik I am not able to reproduce the issue with your example repo.

<img width="721" alt="screen shot 2017-03-02 at 4 34 52 pm" src="https://cloud.githubusercontent.com/assets/898763/23514006/428e7f5c-ff66-11e6-91bf-f7bbfd8679e2.png">

[2017-03-02 15:38] stevenkampen commented on #699
@Sabartius Are you seeing this still? I can't reproduce it it seems. If you can create a single component app where this error exists I'll try again at reproducing it, but for now I'll close this. Thanks.

[2017-03-02 15:38] #699 closed

[2017-03-02 15:43] stevenkampen opened #998 "Make Augury-imposed latency constantly visible to user"
We should start measuring the latency of Augury's application parsing (happens on every `NgZone.OnStable` event), and display this to the user so they can understand if their app behaves differently with Augury, and turn Augury off when doing their own app profiling.

[2017-03-02 16:00] stevenkampen commented on #821
@rajinder-yadav Just to confirm what you saw here... With typescript v2, the uninitialized class member is still compiled out (doesn't exist in the "state"), but when updated (as a result of a `setTimeout`) *does* appears automatically, without having to refresh Augury's view of the component by clicking on another component or anything like that. Is that correct?

I tested with:
[code]

Which gen

[2017-03-02 16:11] stevenkampen commented on #873
@studds Out of interest, what usually is the issue when you find it? Just a bug in the logic? I'd love to see a contrived example so we can understand your use case. It sounds useful, but I'd like to make sure we're solving your problem properly.

[2017-03-02 16:22] stevenkampen commented on #992
@luckylooke haha thanks :)

[2017-03-02 16:39] rajinder-yadav commented on #821
This issues seem to have been fixed, I was unable to recreate is with a demo app. Also In the Guide, we have a demo app for Input Output and it use to have the same problem, which is now gone. Closing as can't reproduce.

[2017-03-02 16:39] #821 closed

[2017-03-02 16:40] #812 closed

[2017-03-02 16:41] #625 closed

[2017-03-02 17:56] Cazra opened #999 "TypeError: Cannot read property 'declarations' of undefined"
Augury version (required): 1.2.12
Angular version (required): 2.0.0-rc.5
Date: March 2, 2017
OS: Linux Ubuntu 14.04

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
https://github.com/Cazra/mean-seed

Description of issue:
When I open Augury to try to debug my Angular 2 MEAN stack application, it always produces the following error:

[2017-03-03 09:35] Sabartius commented on #699
@stevenkampen somehow the issue vanished today, and i don't know what i did differently. I'm sorry that i bothered you.

[2017-03-03 09:51] cdarken opened #1000 "Cannot see state/properties"
Augury version (required): 1.2.12
Angular version (required): 2.4.9
Date: 2017-03-03
OS: Ubuntu 14.04

Description of issue:
I cannot see the State section for a component, I can see the properties on load, but then they disappear.

[2017-03-03 14:45] stevenkampen commented on #1000
@cdarken Can you describe a particular component configuration where this occurs? Or point me towards a public repo where it happens?

[2017-03-03 17:32] cdarken commented on #1000
I will try to create a simple project and see if the problem manifests itself in that project too. I will be back with details, I hope tomorrow.

[2017-03-03 20:29] #999 closed

[2017-03-06 02:33] rajinder-yadav commented on #920
I took a look at this and was also not able to reproduce this error.

[2017-03-06 08:53] renehamburger commented on #920
Thanks, @rajinder-yadav. This seems to have been resolved in the past couple of weeks in Augury. There is no clash with `$a` anymore.

[2017-03-06 08:53] #920 closed

[2017-03-06 09:52] rajinder-yadav commented on #987
Theoretically it should work out of the box, however we have no idea how the codebase was modified by the Vivaldi team. To avoid supporting all chrome-based browsers, our scope with the small team we have is to only support the official Chrome browser. I hope this answers your question.

If you can reproduce this issue on the chrome browser and provide detailed steps for us to reproduce, we can fi

[2017-03-06 09:52] #987 closed

[2017-03-07 15:56] ttmarek commented on #955
Adding sentry looks straight forward. We need two things to get started:
 1. A sentry.io account. @igor-ka do you think you can make an account for Rangle, and pass the credentials off to @stevenkampen?
 2. Install `raven-js` and initialize it using the account set up above: https://docs.sentry.io/clients/javascript/install/#es2015-es6

[2017-03-07 15:59] stevenkampen opened #1003 "Exception with empty module config"
Augury version (required): 1.2.12
Angular version (required): 2+

![screen shot 2017-03-07 at 10 46 58 am](https://cloud.githubusercontent.com/assets/898763/23664789/dd7b718e-0356-11e7-8d6d-52b3c55b3248.png)

[2017-03-07 16:10] ttmarek opened #1005 "Add analytics tracking to gain insight into usage trends"
It'd be nice to have analytics to identify trends on how people are using Augury, and also on the types of projects people are using Augury for. This should help us prioritize issues, new features, and design updates.

I think [angulartics](https://github.com/angulartics/angulartics2) is our best bet for collecting basic analytics, with Google Analytics as the reporting tool.

[2017-03-07 19:32] paulwalker commented on #982
Experiencing the same issue. I did restart browser after plugin installation.

[code]

[2017-03-07 22:21] jacobjojan commented on #1000
Augury version: 1.2.12
Windows 7

I have the same issue as not able to see the state/properties for my components. But I am able to see the material UI components state. All my components are inside material UI components

Sample below...
 mycustom-side-nav have an array property of routes called `mainNav`.
But that is not showing up under states.
[code]

[code]

[2017-03-08 15:53] #1003 closed

[2017-03-08 21:41] cdarken commented on #1000
Yes, I noticed that the properties for some elements from @angular/material that I'm using are visible, but those for my own components are not. Are there certain conditions needed? I tried to set some of them public, but still no luck. The thing is that they flash momentarily then they disappear.

[2017-03-08 22:32] samdidos opened #1008 "Cannot enlarge component tree view"
Augury version (required): 1.2.12
Angular version (required): 2
OS: Ubuntu

Description of issue:
I'm unable to enlarge the component tree view. It had shrunk after I change the view (RouterTree or NgModules) and I cannot put it back the way it was. Can you please make the line position customizable? There's also unused blank at the right side.

Here's a screenshot :

![augury-issue-indication](ht

[2017-03-09 15:35] #815 closed

[2017-03-09 15:35] #921 closed

[2017-03-09 15:40] #647 closed

[2017-03-10 10:18] stevenkampen commented on #1008
@samdidos If you go to resize the inspector window itself, do the widths readjust?

[2017-03-10 15:01] sballarati commented on #1000
**+1** I cannot see it in the properties/state panel but I am able to see the object in the chrome console, see below the `groups` property:

![snip20170310_18](https://cloud.githubusercontent.com/assets/1125619/23799808/a2658042-0588-11e7-990c-35ca744f4445.png)

In the regular console, same `groups` property that was printed using console.log():
![snip20170310_17](https://cloud.githubusercontent.

[2017-03-10 21:00] samdidos commented on #1008
Well, I don't why but it's fixed now. Must be a glitch, I'm not able to reproduce my problem now. Thx anyway!

[2017-03-10 21:00] #1008 closed

[2017-03-10 21:20] rajinder-yadav commented on #1008
FYI, it occasionally happens to me, I usually close down devtools and
reopen it.

On Fri, Mar 10, 2017 at 4:00 PM, Samuel Cardinal <notifications@github.com>
wrote:

[2017-03-13 11:04] stevenkampen commented on #883
This does look like it went away somehow. Will reopen if we see it again.

[2017-03-13 11:04] #883 closed

[2017-03-13 11:26] stevenkampen commented on #1000
@sballarati This looks like a separate issue. Do you mind opening a new issue with these details?

[2017-03-13 14:19] rajinder-yadav commented on #888
This should actually be turned into a general UI scrub to use consistent names we can all agree upon based on Angular and Javascript.

[2017-03-13 14:51] stevenkampen commented on #1000
@jacobjojan Can you provide a more concrete form of that example? I don't think I can replicate just from this code.

[2017-03-13 14:53] stevenkampen commented on #1005
@ttmarek Does angulartics actually have something for Angular 2? That link you provided just references angular1.x. I'm on the train right now so haven't search in depth.

[2017-03-13 14:59] stevenkampen commented on #888
We're going to talk to the core guys about this and other names.

[2017-03-13 15:23] rajinder-yadav commented on #79
Same as 872

[2017-03-13 15:35] ttmarek commented on #1005
@stevenkampen, sorry, linked the wrong one, its https://github.com/angulartics/angulartics2

[2017-03-13 15:51] rajinder-yadav opened #1016 "Augury feature for Forms"
We need to round up the feature set for working with Forms.

[2017-03-13 15:53] rajinder-yadav commented on #1016
I've got a demo app ready with forms for the Guide, will use it to consider ideas for Augury feature set.

[2017-03-13 16:17] rajinder-yadav commented on #888
Let's compile a list of things we'd like to correct with our suggestions and go over with Igor Minar.

[2017-03-14 10:07] biolee opened #1018 "no route info"
Augury: 1.3.0
Date: Tue, 14 Mar 2017 10:05:22 GMT
OS: MacIntel

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.
![screenshot](https://cloud.githubusercontent.com/assets/7426917/23

[2017-03-15 16:34] rajinder-yadav opened #1022 "Update issues with Augury"
Augury version (required): Build of dev branch
Angular version (required): 2.x
Date: 2017-03-15
OS: Linux

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
Use kitchen sink app or Guides Routes demo app.

Description of issue:

I've started to notice there is a lag with Augury and at times it fails to update when its initial opened. I

[2017-03-15 23:31] rajinder-yadav opened #1025 "UI Issue large blank space under search"
Augury: dev branch
Date: Wed, 15 Mar 2017 23:28:01 GMT
OS: Linux x86_64
Angular version (required): 2.4

Demo test application:
Use Guide routes demo app.

Description of issue:

Large blank area under search.

![big-search-area](https://cloud.githubusercontent.com/assets/439226/23975198/bf5437c6-09b5-11e7-8f3c-af119d2811d6.png)

Steps to reproduce:

1. Open Augury, click on Router Tree

[2017-03-15 23:42] rajinder-yadav opened #1026 "Component tree hidden when devtools resized"
Augury: dev branch
Date: Wed, 15 Mar 2017 23:28:01 GMT
OS: Linux x86_64
Angular version (required): 2.4

Demo test application:
Using Route demo app.

Description of issue:

Component tree become hidden when devtools resize, cannot expand component tree again.
Steps to reproduce:

1. View Router tree
2. resize devool by shrinking down as shown in gif.
3. click to view Router tree
4. Router tree be

[2017-03-16 17:05] rajinder-yadav commented on #1022
I've been able to reproduce it on the mac, steps:

1. open augury, click on router tree
1. close augury
1. open augury, click on router tree

![routes-render-error](https://cloud.githubusercontent.com/assets/439226/24008798/20515a16-0a49-11e7-80e9-006799615232.gif)

[2017-03-16 17:57] stevenkampen commented on #1022
@rajinder-yadav Got it!

[2017-03-16 17:57] tomasro27 commented on #687
@rajinder-yadav any updates?
@sumitarora

Thanks

[2017-03-17 21:26] sballarati opened #1029 "Cannot see Property/State of a tuple dictionary"
Augury version (required): 1.3.0
Angular version (required): 2.4.9
Date: 2017-03-10
OS: macOS Sierra 10.12.3

Code snippet:

[code]

Description of issue:
**+1** I cannot see it in the properties/state panel but I am able to see the object in the chrome console, see below the `groups` property:

![snip20170310_18](https://cloud.githubusercontent.com/assets/1125619/23799808/a2658042-0588-11e7-990c-

[2017-03-17 21:27] sballarati commented on #1000
@stevenkampen I created a new issue for that: https://github.com/rangle/augury/issues/1029

Thanks and have a great weekend!

[2017-03-19 12:22] luckylooke commented on #992
@stevenkampen, hi! :)
So I have managed to make some time for this and I have created repo for reproducing this issue here: https://github.com/luckylooke/auguryissue

after cloning repo, install dependencies vie npm i and run dev server ionic serve it will automatically open browser I have putted some test properties to HomePage component You can find HomePage component in augury on this path: Ion

[2017-03-20 16:26] #1018 closed

[2017-03-20 16:26] #1022 closed

[2017-03-20 20:40] rajinder-yadav commented on #304
There is still an issue, if devtools is closed then open. Can get stuck in a state where the message fails to show no matter how  many times browser is refreshed.

[2017-03-21 15:58] stevenkampen commented on #1016
@rajinder-yadav I think we need to make a proper investigation for any 'forms' specific features. I'm not sure that it will be necessary, or worth it, so I don't just want to jump straight to trying to think of something to do. The fact is, forms are very finicky, and everything is already available through component state. Trying to apply another layer on top of that seems like a lot of continuou

[2017-03-21 20:22] rsksmiles commented on #903
Hi I seem to have this problem aswell but I have 1.4.0

[2017-03-22 00:25] rajinder-yadav opened #1035 "Extra router-outlet getting displayed."
Augury: 1.4.0
Date: Wed, 22 Mar 2017 00:17:43 GMT
OS: Linux x86_64

Demo test application:

Using Guides Routes demo app.

Description of issue:

Seeing an extra router-outlet in Component Tree.

Angular version (required): 2.4.x

Steps to reproduce:

1. Use Routes demo app.
1. Open Augury.
1. Click on "Cities" button.

For CityComponent, two router-outlets are shown, there should only be one.

Ad

[2017-03-22 13:01] #304 closed

[2017-03-22 13:12] rajinder-yadav commented on #1016
@stevenkampen I just plan to review if anything obvious is missing, my main objective is to complete the Forms guide and not really add more feature for Form to Augury. I agree with your comments.

[2017-03-22 21:19] Matmo10 opened #1039 "Uncaught TypeError: Cannot read property 'instance' of undefined"
Augury version (required): 1.4.0
Angular version (required): v4 rc4
Date: 3/22/17
OS: OS X

Description of issue:
[code]

![screen shot 2017-03-21 at 11 08 26 am](https://cloud.githubusercontent.com/assets/2548215/24221175/7b8f6d94-0f0a-11e7-9712-36b2cb63b1b2.png)

[2017-03-22 21:20] Matmo10 commented on #1039
I have a lazy loaded route..I use ngrx/store, ngrx/effects, etc.  I use the angular-cli.   Not sure what else you need to know :)

[2017-03-27 10:16] olaf89 commented on #1039
I have the same issue :(

[2017-03-27 10:27] prasanna-kumar commented on #903
Yes, I'm getting same problem with 1.4.0

[2017-03-27 20:37] luchillo17 commented on #687
@mobinni Hi, seems it doesn't work, i've done a base project with Webpack and Typescript and it does not show any errors but also it doesn't show anything:

![image](https://cloud.githubusercontent.com/assets/9698639/24376945/3cc6630e-1303-11e7-9e5c-95dba1021251.png)

[2017-03-27 20:38] mobinni commented on #687
cc @stevenkampen, could you address the issue above?

[2017-03-27 23:32] luchillo17 commented on #687
I have a public repo, want to take a look?
https://github.com/luchillo17/Electron-Webpack/tree/develop

[2017-03-28 20:45] szh commented on #997
Doesn't seem to work in Angular 4.0 final release...

[2017-03-28 22:18] szh commented on #997
Here's the error I'm getting in the Chrome dev console:
![image](https://cloud.githubusercontent.com/assets/546965/24430081/885ac832-13da-11e7-82d2-c92e40d2ce39.png)

[2017-03-29 08:09] austinrmiller opened #1044 "$a can override a property/function set by the application"
Augury version (required): 1.4.0
Angular version (required): 4.0.0
Date: 3/29/2017
OS: Mac

Description of issue:
Augury has this code in backend.ts:
[code]

But that can easily override a $a property/function used by the application. This is especially likely when using Closure Compiler since it will frequently rename a function to $a, and sometimes that ends up being a function on window. I work

[2017-03-29 10:35] MrFranke commented on #1039
+1

[2017-03-29 11:57] stevenkampen opened #1045 "Child elements get parent component's name"
Augury version (required): 1.x
Angular version (required): 4.0.0

Elements within Angular components take on that component's name.

<img width="263" alt="screen shot 2017-03-29 at 1 52 53 pm" src="https://cloud.githubusercontent.com/assets/898763/24453275/77b881ba-1487-11e7-8b77-7bb784c6a8b5.png">

[2017-03-29 13:44] olostan opened #1046 "Replace "Angular 2" references to just "Angular" across the tool and docs"
Currently everywhere in documentation there is stated that Augury is tool "for debugging and profiling Angular 2 applications." ( https://augury.angular.io/ )

But with semantic versioning there is no sense to put "2". Also it can confuse people who are using Angular version 4 and above even if Augury will work seamlessly with them.

[2017-03-29 15:38] #1039 closed

[2017-03-29 16:28] #992 closed

[2017-03-29 16:57] stevenkampen commented on #1045
Resolved by #1047

[2017-03-29 16:57] #1045 closed

[2017-03-29 16:59] stevenkampen commented on #1016
resolved by #1043

[2017-03-29 16:59] #1016 closed

[2017-03-29 17:05] stevenkampen commented on #1000
@jacobjojan I'm pretty sure this is fixed now in 1.5.0 (just released). If you could test it and let me know that would be great.

[2017-03-29 17:11] stevenkampen commented on #1029
@sballarati Can you let me know if this persists with 1.5.0 (just released). I fixed several errors in the serialization so hopefully it was caught, but otherwise see if you can isolate it in a reproducible way for me.

[2017-03-29 17:33] stevenkampen commented on #1000
@cdarken Ahh yes that issue still exists I see. For a while I thought it was gone but apparently not. I'll log it now.

[2017-03-29 17:33] stevenkampen opened #1050 "Changes to component properties don't work if the value is the same as the original."
The frontend copy of the state is not updated, so any change to the component instance state only are applied if the value is different from the *original* value.

[2017-03-29 17:42] #1000 closed

[2017-03-29 19:30] stevievb opened #1052 "Visualization of Observables"
Is anyone interested and or working on this? It seems like there are no good tools out there right now to help debug observables,

I would like to make a tool to build a dependency graph and a live diagram like described in this blog (http://staltz.com/how-to-debug-rxjs-code.html).

I think it should be possible based on this (https://github.com/ReactiveX/RxJS/issues/60). I played around with this

[2017-03-29 22:45] jacobjojan commented on #1000
Will test and let you know.

Sent from my iPhone

[2017-03-30 08:51] stevenkampen commented on #1050
@cdarken Actually I am not having any luck reproducing this. Any chance you have a public example lying of the issue?

[2017-03-30 09:13] cdarken commented on #1050
@stevenkampen sorry, not at the moment. btw, I've tested with angular 2.4.8, you think it might depend on the version?

[2017-03-30 14:16] raydaim commented on #903
@stevenkampen,  I am still having the same problem with 1.5.0

[2017-03-31 12:16] stevenkampen commented on #903
@irackley-mc This is fixed for you now right? I see state for all components I could find in that application you shared.

[2017-03-31 12:18] stevenkampen commented on #903
@prasanna-kumar @raydaim If this is persisting for you, can you open a new issue (after checking one doesn't already exist that fits what you're seeing)?

[2017-03-31 12:22] irackley-mc commented on #903
@stevenkampen It has been working for me since your fix. My guess is the new reports are related but not the same exact issue, although I haven't tried out Angular 4 at all.

[2017-03-31 12:29] stevenkampen commented on #903
@irackley-mc Yes, that's the case here. Several things can screw up serialization apparently so I'm hunting them down one by one. Thanks for your report!

[2017-03-31 13:28] raydaim opened #1058 "Component state not showing up"
Augury version (required): 1.5.0
Angular version (required): 4.0.0 / (also present in 4.0.1)
Date: 03/31/2017
OS: Windows 10 Build  14393.969/ Chrome Version 57.0.2987.98 (64-bit)

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
https:/

[2017-03-31 13:36] cdarken commented on #1050
@stevenkampen To test I should follow the instructions [here](https://github.com/rangle/augury#building-and-installing-locally), right?

[2017-03-31 15:53] stevenkampen commented on #1029
@sballarati Ahh I looked closer and realized I had assumed you were doing something much simpler. I tried a quick reproduce and was confused by how you're using this tuple type. The end result is a javascript array which is used as an object instead? I can't find an example of typescript tuples that works like this, and I couldn't get your code to compile as is. The closest I got is below. At any

[2017-03-31 16:03] #1050 closed

[2017-03-31 20:38] sballarati commented on #1029
Hi @stevenkampen thanks for looking into this. Unfortunately, it's not working for me with the latest version. I'll post a full sample soon so you can reproduce it easily.

Thank you, have a great weekend!

[2017-03-31 20:57] stevenkampen commented on #1029
@sballarati I understand. My previous comment articulates why it won't work, and also asks how/why you're using tuples like this, and if our logic should be expected to serialize it properly.

[2017-04-01 08:45] stevenkampen commented on #1058
@raydaim Thanks for isolating your issue here. I'll look at it shortly.

[2017-04-04 16:35] cguilhermef opened #1062 "in router tree, 'search route' cannot verticaly resized"
Augury version (required): 1.6.0
Angular version (required): 4.0.0
Date:
OS: Ubuntu Linux

When I see the 'router tree', I can't to resize - reduce the height of - search routes. And it uses a half of panel height, make the router tree compressend and, sometimes, confuse.

![print](https://cloud.githubusercontent.com/assets/3875540/24667954/83c96f88-193b-11e7-8791-ba1411710bb1.jpg)

[2017-04-04 21:12] danish-monu opened #1063 "angular 4 not supported"
is angular 4 not supported?

[2017-04-05 09:12] stevenkampen commented on #1058
@raydaim It looks like this is fixed in Augury 1.6.0.

<img width="715" alt="screen shot 2017-04-05 at 11 10 13 am" src="https://cloud.githubusercontent.com/assets/898763/24698348/94783c78-19f0-11e7-943f-217d0e8df950.png">

[2017-04-05 09:12] #1058 closed

[2017-04-05 09:16] raydaim commented on #1058
@stevenkampen yeah it is working perfectly Thank you so much !

[2017-04-05 09:20] raydaim commented on #1063
@danish-monu  Yeah I am using augury with angular 4.0.1

[2017-04-05 20:32] danish-monu commented on #1063
really. for me, it popped out an error message saying not an angular project.

[2017-04-06 04:29] thaoula commented on #1063
i also get message saying my app is not an angular app. I am using Angular 4.0.1

I also get these errors which disappear when i disable Augury -

zone.js:569 Unhandled Promise rejection: Cannot read property 'injector' of null ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cannot read property 'injector' of null

zone.js:571 Error: Uncaught (in promise): TypeError: Cannot read property '

[2017-04-09 20:08] waqas7803 commented on #1052
Hi !
Currently i am working on this.
I am creating Google Chrome extension to support Two Libraries (RxJS + Bacon.js)
and this extension will extend current DevTools of Chrome and will add another panel where we will be able to see the dependency Graph of the application that contains Rxjs or Bacon code.

And we can then able to see history of dependency graph for back in time debugging.
Also plan

[2017-04-10 15:59] mobinni commented on #1005
@ttmarek - Couple of questions:
- Do we have any idea of what interactions we want to track.
- Do we have an analytics ID for dev/prod?

[2017-04-11 14:57] instantaphex commented on #578
I would love to use Augury.  Unfortunately I've never gotten anything besides maxiumum call stack size exceeded.  The application runs fine.

[2017-04-13 08:27] itsnotvalid commented on #1063
I think it definitely not supporting angular 4. Just to see how we could help to make it support.

[2017-04-18 09:07] stevenkampen opened #1068 "Refactor extension to use only `activeTab` permission"

[2017-04-18 12:47] stevenkampen commented on #1063
@danish-monu It sounds like you hit the issue in the late RC stages (`window.ng` was not present in debug mode) which was later fixed by angular.

@thaoula It sounds like you hit an error that happened just after 4.0.0 release because of a change in an unofficial API within the router. It was fixed by us soon after so you shouldn't see the issue now.

Anyone else, if you're seeing issues, please r

[2017-04-18 12:47] #1063 closed

[2017-04-18 13:01] thaoula commented on #1063
Hi Steven,

Thanks for your reply.

The issue i initially reported seem to have been resolved. However, i now get the following on AOT project build with Angular CLI

![image](https://cloud.githubusercontent.com/assets/349133/25131901/ddc9f05c-248a-11e7-9e09-6a177343f7f1.png)

[2017-04-18 15:59] AbdellaToronto commented on #1005
I'll be picking this story up!

[2017-04-18 16:30] stevenkampen opened #1070 "Exception during NgModule config parsing with AoT apps"
@thaoula reported on #1063 that an exception occurs while initializing Augury for AoT apps.

![ddc9f05c-248a-11e7-9e09-6a177343f7f1](https://cloud.githubusercontent.com/assets/898763/25141826/0ef68e86-2465-11e7-9d49-dc5334710d1d.png)

[2017-04-18 16:30] stevenkampen commented on #1063
@thaoula Thanks for the report. I've added an issue for it here: #1070.

[2017-04-18 16:47] mobinni commented on #1005
@AbdellaToronto There's a branch where I already set up the start of this: https://github.com/mobinni/augury/tree/feat/analytics. It purely sets up google analytics in the backend.ts (You want to communicate through messages over the bridge for tracking events).

[2017-04-19 06:31] zh99998 commented on #687
same for me.
just a electron quickstart + angular quickstart, and such code can reproduce such problem
[code]

[2017-04-19 10:41] #1068 closed

[2017-04-19 12:46] Megamind2301 opened #1071 ""Unhandled Promise rejection: Cannot read property 'injector' of null" CONSOLE ERROR JUST AFTER AUGURY INSTALLATION"
Augury version (required):1.6.0
Angular version (required):4.0.1
Date:19/4/2017
OS:Ubuntu

Description of issue:
Augury is not working due to this error in console. This error comes only after I add augury to the list of extensions.

![image](https://cloud.githubusercontent.com/assets/19911101/25180451/a81f1314-252b-11e7-88cf-306bf10b2812.png)

[2017-04-20 09:22] stevenkampen commented on #1071
@Megamind2301 Is there code available that I can recreate this with? The error is a little bewildering  because I believe this means `getAllAngularRootElements()` is returning a null root, which shouldn't happen as far as I know.

[2017-04-20 10:52] Megamind2301 commented on #1071
IT IS confusing.
- Everything works fine even with this error.
- When I uninstall augury, this error disappears.
- Augury is not getting receiving the boot file I guess.

I need to fix this urgently. Any workaround would work just fine (if there is any).

[2017-04-20 11:46] stevenkampen commented on #1071
@Megamind2301 If you can recreate it in a simple form and publish some code I'll look at it ASAP. Otherwise I'm going to be shooting in the dark trying to make it happen.

[2017-04-20 18:13] AbdellaToronto commented on #1005
So I'm in the process of implementing this with angulartics2 - so far so good, although I think there might be some concern with integrating this with the router, I'll look into this. I think I might need access to the analytics dashboard to test and make sure everything is working.

[2017-04-23 22:02] laserus commented on #1071
I have the same error. project is angular4 with --prod and --aot (from agnular/cli). But the error comes not from Zone.js but from polyfills.js

[2017-04-24 09:41] stevenkampen commented on #1071
@Megamind2301 @laserus @cpeisert Ok, I've found an issue where if the application is calling `enableProdMode`, then Augury will still try to initialize (which it usually wouldn't, because it can't debug an application in production mode). Can you see if this is what's happening in your cases? There may be a separate AoT issue which I'm looking into now.

[2017-04-24 09:59] laserus commented on #1071
@stevenkampen for non-prod build the Augury works fine. Probably, you need some message into console that catches this exception.

[2017-04-24 10:08] stevenkampen commented on #1071
@laserus There is a message usually, but something has changed in Angular so that our logic to read that production/debug flag is now incorrect. We're chasing up a fix for it though so it should be back to normal behaviour soon.

[2017-04-24 11:02] stevenkampen opened #1078 ""Self-Provided" broken in injector tree"
Augury version (required): >1.2.11
Angular version (required): all
Date: (24-04-17)
OS: all

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
https://github.com/johnpapa/angular-event-view-cli (LoginComponent)

Description of issue:
Self provided injectables are not marked as so on the injector tree UI.

Steps to reproduce:
1. View In

[2017-04-29 16:30] cpeisert commented on #1071
@stevenkampen The Augury error is no longer appearing in production mode. Thank you for your help.

[2017-05-02 17:13] riavalon commented on #1035
Extra `router-outlet` is being rendered on page due to the `router-outlet` tag in the component template missing a proper ending tag. [PR has been opened on augury examples repo](https://github.com/rangle/augury-examples/issues/63).

[2017-05-02 17:13] #1035 closed

[2017-05-03 17:17] kittycatbytes opened #1089 ""This application is not an Angular application""
Augury version (required): 1.7.0
Angular version (required): 2.4.8
Date: 5/3/2017
OS: Windows

Description of issue:
When testing my angular app when I launch Augury I get the error "This application is not an Angular application"

Steps to reproduce:

1. Created Asp.Net empty web app
2. Scaffolded Fountain (Yeoman) into it with Angular 2 option
3. Started created various components and services
4

[2017-05-04 03:05] gnibeux commented on #1089
me too ,any help,thank you!!!!!!

[2017-05-04 07:31] goatcube commented on #1089
I'm having the same issue with Angular 4.1.0

[2017-05-08 12:24] Aides359 opened #1101 "Feature request: custom name for pathless componentless route"
# Feature request:

## Description
Ability to provide a custom name for pathless componentless routes.

## Motivation
It is rather common to have route definitions that contain `path: ''` and don't define a component but only child routes to group routes together and apply guards to them etc. (see https://angular.io/docs/ts/latest/guide/router.html#!#add-an-admin-feature-module)

Those routes are

[2017-05-09 14:28] #1062 closed

[2017-05-09 15:02] #955 closed

[2017-05-10 14:15] #1026 closed

[2017-05-12 14:18] dansomething commented on #1070
Is this possibly related to #733? I got the same error until I followed the readme to update angularCompilerOptions.debug in tsconfig.json.

[2017-05-12 14:18] #1044 closed

[2017-05-15 12:16] mattwilson1024 commented on #680
Is there any update on this? Augury doesn't seem to work for me even with the static upgrade adapter. My bootstrap code is:

`import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { UpgradeModule } from '@angular/upgrade/static';
import { AppModule } from './app.module';

platformBrowserDynamic().bootstrapModule(AppModule).then(platformRef => {
  const upgrade = platfo

[2017-05-15 18:45] slavede opened #1113 "Dependency graph corrupted?"
Augury version (required): 1.7.0
Angular version (required): 2.4.0
Date: 15th of May 2017
OS:
Win10
-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of

[2017-05-15 22:39] winnemucca commented on #416
Are there conditions for Augury to work?  I can get it fine on small projects I am starting with the cli but I cannot get this to work on on larger production apps.  ```This application is not an Angular application.
This application cannot be inspected using Augury.```.   Not sure what can cause this.

[2017-05-15 22:40] winnemucca commented on #1089
If/When a fix or code issue is found that causes this please share.  I have no idea what the problem is with this.

[2017-05-16 18:38] xouqoa opened #1114 ""State" section of Properties window doesn't always show up."
Augury version (required): 1.7
Angular version (required): 4.1.1
Date: 5/16/2017
OS: Windows 10

This is more of a general question than an actual issue, perhaps.

Some of our components don't show the State section of the properties window. It worked in the past, and then at some point it stopped. I'm not sure if this is a code change thing, or an actual issue with Augury.

I guess what I'm tryin

[2017-05-17 03:05] lokeshneelam opened #1116 "External augury report"
Its not an issue, more a question -

Is there any way I can extract augury report in external file?

[2017-05-18 11:19] JanEggers commented on #1114
same issue here,

it would be nice that in case augury is not able to display the state to generate a logmessage in the console or in the area the state would normally show up. that way we could provide better feedback whats not working or fix the issue in that component

[2017-05-19 08:54] bheda91 commented on #1089
I got this error, (May be useful for you)

**Unhandled Promise rejection: Cannot read property 'injector' of null** ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cannot read property 'injector' of null
    at bind (chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/backend.js:9628:14)
    at chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/backend.js:9658:71
    at Array.

[2017-05-23 14:39] stevenkampen opened #1126 "Build POC for Augury as a package"
We need to investigate a possible change to Augury's implementation (outside of chrome extension ecosystem).

[2017-05-23 14:50] igor-ka commented on #982
Hey @panglisen @paulwalker, is this issue still occurring? Both CLI and Augury have advanced several versions since this issue occurred.

[2017-05-23 15:08] igor-ka commented on #762
relates to #998

[2017-05-23 15:09] #145 closed

[2017-05-23 15:23] stevenkampen commented on #1116
@lokeshneelam You mean something representing what Augury shows in the UI at any point? The issue is that this info is highly dynamic, so it doesn't seem so useful to create a printable snapshot of that info. Let me know what you think, and maybe more about your use case.

[2017-05-23 15:25] igor-ka commented on #1113
This is a duplicate of #1078, should be addressed shortly.

[2017-05-23 15:25] #1113 closed

[2017-05-23 15:30] igor-ka commented on #1089
Hey @kittycatbytes would you be able to create a demo repo so that we can reproduce this problem?

[2017-05-23 15:36] #888 closed

[2017-05-23 17:55] kittycatbytes commented on #1089
I'm so sorry, I was able to fix it but I cannot remember exactly what I did - it was a while ago now.  Essentially you can get this error it seems if you have not set up the basics correctly.  I wish I had captured more info on this when I resolved it.  Hopefully one of the other users experiencing this issue can shed more light.

[2017-05-23 19:53] winnemucca commented on #1089
@kittycatbytes  when referencing the error do you mean the error that @bheda91 has or the error that this is not an angular application?  I am inheriting a project in the middle of an upgrade.  What basics should I go over to fix this?

[2017-05-23 20:55] igor-ka commented on #1046
Hey @olostan thanks for pointing this out. I changed the description of the issue, and we will be making this change soon.

[2017-05-23 21:09] igor-ka commented on #1101
Hello @Aides359 doing something like the above would require to make change to angular's router and not just augury. Our goal is not to have any Augury specific logic in Angular's codebase. There might be other reasons for Angular's router to have the parameter you mentioned above, in which case we will be happy to leverage that information, but this is something to ask from the angular team.

I a

[2017-05-23 21:09] #1101 closed

[2017-05-24 14:56] stevenkampen commented on #1071
Closing as fixed.

[2017-05-24 16:47] #1078 closed

[2017-05-25 13:59] paulwalker commented on #982
It is no longer an issue with the most recent releases.

[2017-05-25 14:25] #982 closed

[2017-05-26 17:43] #833 closed

[2017-05-26 20:46] #1071 closed

[2017-05-28 01:36] sss4r commented on #1089
This began happening to me today. If you close the dev tools and reopen, the extension resumes working correctly, but it quickly breaks again. Let me know if I can provide any info that would be helpful.

[2017-05-28 06:08] mitchellzen commented on #1089
Having same issue. Just installed Augury. Does not detect an angular app.

[2017-05-28 10:38] stevenkampen opened #1131 "Improve prod mode checking for angular v2.3.1 apps"
Augury version (required): 1.8.0
Angular version (required): 2.3.1

Steps to reproduce:

1. Create Angular app of version 2.3.1.
2. Run app in prod mode with the cli.
3. Open Augury.

[2017-05-28 11:10] stevenkampen opened #1133 "Cannot read property 'providers' of undefined"
Augury version (required): 1.8.0
Angular version (required): any

Description of issue:
[code]

Steps to reproduce:

1. Create NgModule with empty config
2. Run Augury

[2017-05-28 11:22] stevenkampen opened #1135 "Error reporting is catching user app errors"

[2017-05-29 10:46] stevenkampen opened #1137 "Iframes in inspected app can cause cross origin error during component parsing"
Augury version (required): 1.8.0
Angular version (required): any

Steps to reproduce:

1. Create an app that uses an iframe (with a different domain).
2. Add a component which internally references the document.
3. Select that component.

[2017-05-29 15:12] #1131 closed

[2017-05-29 15:14] #1135 closed

[2017-05-29 16:02] #1137 closed

[2017-05-29 16:05] #1133 closed

[2017-05-29 16:33] stevenkampen opened #1140 "Update Angular version support in docs"
We need to do some testing and then update our docs to indicate what versions augury should work with.

[2017-05-29 17:39] stevenkampen opened #1141 "Update angular version in Augury frontend"

[2017-05-29 18:35] riavalon commented on #1070
The error is cause because of this code in `src/backend/utils/parse-modules.ts`:

[code]
When an app is compiled with AoT,  `Reflect.getMetadata(...)` will return undefined. I believe this is because the metadata files are put into `metadata.json` files when the app is compiled in AoT, though I'm not sure how we would go about grabbing that metadata in augury.

[2017-05-29 20:07] stevenkampen commented on #1070
@riavalon I made a change just yesterday to stop that undefined reference error, so at least that won't happen anymore :)

https://github.com/rangle/augury/pull/1134/files#diff-d55af29576cfd559bea03764b5c7fc9bR23

[2017-05-29 22:01] JinSY opened #1142 "Extend analytics tracking to gather useful usage trends"
Define and add more specific events to track as part of the analytics tracking effort

[2017-05-30 05:33] lokeshneelam commented on #1116
Yes that's what I meant. I looking some automation script (already in place or modify the existing) which can generate augury report externally without using the chrome extension. Is it possible?

[2017-05-30 13:01] colthreepv commented on #1114
I am having the same issue with version **1.9**
Are you sure your version is 1.7? Chrome extensions should auto-update

[2017-05-30 14:21] JinSY commented on #1142
Events to track:
- high level tabs (component tree, router tree, ngmodules)
- properties tab, injector graph
- select component button (next to augury icon)
- emit events
- change of properties

[2017-05-30 14:48] JinSY commented on #506
After discussing:
- add feedback button to top bar
- add a button to submit a bug
- look into best way of collecting feedback (public google form api?)

[2017-05-30 15:04] xouqoa commented on #1114
I uninstalled/installed to get 1.9 -- it wasn't doing it automatically (Chrome Canary). Problem seems to be resolved for me at least. I'll keep an eye on it.

[2017-05-30 16:45] igor-ka commented on #1116
Hey @lokeshneelam i am still not sure what kind of data you would like to get out of Augury for your report? Do you want data associated with the component tree, inspector graph, or maybe NgModules tab? I'd like to get a better understand of this.

[2017-05-30 17:08] riavalon commented on #1070
Great, sounds good @stevenkampen

We talked about this one a bit more offline: As there is no way currently for us to get access to metadata when an app is compiled in AoT, we're going to instead show an informative error message in the NgModules tab and improve the documentation around it.

[2017-05-31 03:52] lokeshneelam commented on #1116
'Component Tree' and 'ngModule' tab.

[2017-05-31 07:29] stevenkampen commented on #1089
@mitchellzen @sss4r Any chance you have a public repo where this happens? I'll look into immediately if I can reproduce it.

[2017-05-31 08:06] stevenkampen opened #1146 "Parse ng version if possible to include with error report"

[2017-05-31 08:26] stevenkampen opened #1148 "Tag sentry error reports with Augury release number"

[2017-05-31 10:28] miltador opened #1150 "Feature request: Firefox support"
It would be awesome to see this extension for Firefox browser. As Firefox supports [WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions) API, I believe it won't be difficult to make it working on Firefox. I saw React Dev Tools extension on Firefox, Angular community is now missing this one for Firefox.

[2017-05-31 12:31] #1148 closed

[2017-05-31 13:25] #1146 closed

[2017-06-01 17:05] xouqoa commented on #1114
Still having issues with the State section not showing up. Would this have anything to do with lazy loaded modules, maybe?

Also, with the 1.9 update, I have to close the F12 tools if I reload my page or I get the "this is not an angular application" message in Augury. Separate issue I'm sure, but figured I'd mention it.

[2017-06-02 14:30] hbarpitgupta opened #1152 "s"
Augury: 1.10.0
Date: Fri, 02 Jun 2017 14:29:34 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-06-03 02:39] vajnorcan commented on #1089
Mine detected the app for the first time, but won't recognise it after a reload.

[2017-06-05 09:35] stevenkampen commented on #1152
@hbarpitgupta If this was meant to be an issue, please try again. Thanks!

[2017-06-05 09:35] #1152 closed

[2017-06-05 10:26] #1005 closed

[2017-06-05 10:26] #1142 closed

[2017-06-06 09:48] captainbrosset commented on #1150
Firefox now supports a wide range of WebExtension APIs, including DevTools-related APIs. This means that without changing much of the extension's code, it should just work on Firefox.

I tried running it in Firefox and got this:

<img width="1021" alt="capture" src="https://cloud.githubusercontent.com/assets/1152698/26823321/88c16bb4-4aad-11e7-8408-83562e120336.PNG">

Not bad for a first test, at

[2017-06-06 13:13] stevenkampen opened #1156 "Error reporting catching user app error after property change"
Augury version (required): 1.11.0

[2017-06-06 13:20] stevenkampen opened #1158 "`Cannot read property 'id' of null` in `getDependencies` of `DependencyInfo`"
Augury version (required): 1.11.0
Angular version (required): all

[2017-06-06 13:31] stevenkampen opened #1160 "Stop reinitializing if not angular or not debug"
Augury version (required): 1.11.0
Angular version (required): all

[2017-06-06 13:46] stevenkampen opened #1162 "Sometimes no module can be resolved via the root component"
Augury version (required): 1.11.0
Angular version (required): Unknown

[2017-06-06 14:29] #1141 closed

[2017-06-06 14:35] #1162 closed

[2017-06-06 14:41] #1156 closed

[2017-06-06 14:42] igor-ka opened #1164 "Extend analytics tracking with additional events"
Refactor code to support and add analytics tracking for the following 2 events:

- emit events
- change of properties

[2017-06-06 14:43] #1160 closed

[2017-06-06 14:44] #1158 closed

[2017-06-06 14:46] igor-ka commented on #235
As per the planning meeting today, instead of the text wrapping and the containing row expanding in height to accommodate the wrap, we will keep the height and just add `...` for the part of the text that does not fit.

[2017-06-06 14:50] #1046 closed

[2017-06-06 15:09] igor-ka opened #1165 "Show the version of Angular used by the inspected application"
- Investigate since which version of Angular the ng-version attribute is available on the root component.
 - Show Angular version of the inspected application
 - Add an Angular version to the "report a bug" link

[2017-06-06 15:57] sumitarora commented on #1029
@sballarati @stevenkampen It does work you just have to assign elements properly. Changing the above code as below works fine as `Connection` -> `Group Array` -> `Attribute Array`.
[code]
![image](https://user-images.githubusercontent.com/198247/26838821-472aa77c-4aaf-11e7-9449-f249276088dd.png)

[2017-06-07 00:11] clarkbw commented on #1150
I'm seeing some intermittent issues here and I don't know Angular well enough to be able to traverse the code.  It seems to drop the connection at times and others it works.  I can pair with someone to get them through the Firefox parts but I'll need help with the rest.

[2017-06-07 09:51] MrShaneH opened #1168 "Why does Augury need to inject Google Tag Manager into every NG2+ site?"
Augury version (required): 1.12.0
Angular version (required): 2+

More of a question than an issue. As the title asks, why is google tag manager injected into every Angular site I visit?

[2017-06-07 14:39] charpeni commented on #1168
I was also surprised to saw another Google Tag Manager injected in my app, after some search it's all described in #1005.

[2017-06-07 14:51] sumitarora commented on #1029
Closing as above.

[2017-06-07 14:51] #1029 closed

[2017-06-07 15:41] igor-ka commented on #1150
Hey @captainbrosset and @clarkbw we will be happy with that. We are thinking of a potential refactor to support different shells easier and would appreciate help and/or input on that.

Can we chat over [Slack](https://augury-slack.herokuapp.com/)?

[2017-06-07 15:43] #235 closed

[2017-06-07 16:50] csvn opened #1169 "Extension build files include sourceMap URL, but no sourceMaps"
Augury version (required): 1.12.0
Angular version (required): 4.1.3
Date: 7 June 2017
OS: Windows

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of i

[2017-06-07 19:05] JinSY commented on #1168
This was an oversight on our part. Will be addressed shortly

[2017-06-07 19:27] stevenkampen commented on #1168
@MrShaneH The fix for this was just merged (in #1170) and will be released right now. You should automatically get the update within an hour.

[2017-06-07 19:27] #1168 closed

[2017-06-07 23:35] clarkbw commented on #1150
Sounds good!  I've joined the Slack as @clarkbw

Lets try to chat soon, ping me when you get a chance @igor-ka

[2017-06-08 10:45] quin61 opened #1173 "This application is not an Angular application - need to restart developer tools"
Augury version (required): 1.13.0
Angular version (required): 2.2.4
Date:
OS: Windows

When developer tools is already open when page loads I get that message.
Everything works if I close and open developer tools.

I am not sure if it's just me but if not - it sure would be nice to fix this or just add some refresh button.

Similar thing was already discussed here:
https://github.com/rangle/augury

[2017-06-08 16:56] stevenkampen commented on #680
@mattwilson1024 Can you share an example of your project so I can look at your case specifically?

My first reaction is that this might prove too sticky for Augury to help with, but it's hard to tell what people would like, or are expecting, to work. If you can share a repo with me I will use it as the model and validate a potential solution.

[2017-06-08 21:19] slavafomin opened #1177 "How do you set value for variable of complex type (object)?"
Hello!

Thank you for this great extension!

However, I have a property on the "state" pane which is set to some `Error` instance. How do I set it to e.g. `undefined`? I can change value of simple types, like strings and booleans, but I can't change value for complex types.

Thanks!

[2017-06-09 14:49] stevenkampen opened #1178 "Build script should not build without SENTRY_KEY env var"
Augury version (required): >= 1.13.0

[2017-06-09 14:50] stevenkampen opened #1179 "Build script should clear all build dir contents first"

[2017-06-09 15:32] mattwilson1024 commented on #680
@stevenkampen I've created an example hybrid app which demonstrates my setup here: [https://github.com/mattwilson1024/angular-hybrid](https://github.com/mattwilson1024/angular-hybrid)

This is a hybrid app consisting of an AngularJS page with downgraded Angular components used within. There is a little information about the components in [README.md](https://github.com/mattwilson1024/angular-hybrid

[2017-06-09 18:20] igor-ka commented on #1116
Hey @lokeshneelam we discussed this between the team and a this time this feature is relatively low value in our opinion. This is mainly due to the fact, that the component and even router trees are dynamic in nature and can change at runtime frequently whereas the report is more appropriate for static things that do not change often like ngModule tab.

This is a low priority for us, but at the sa

[2017-06-09 18:20] #1116 closed

[2017-06-10 11:46] stevenkampen commented on #680
@mattwilson1024 My thinking is that that use case would be a little far from Augury's purview. At least I think our support for Angular Upgrade should start with supporting Angular (2+) applications that contain upgraded AngularJS components (that's my main concern right now).

@igor-ka @sumitarora What are your thoughts on this? I'm thinking we'd have no way to parse the application to resolve An

[2017-06-10 14:24] stevenkampen opened #1182 "`Connection.send` fails if reconnect is necessary"
Augury version (required): 1.13.0
Angular version (required): all

[2017-06-10 15:39] stevenkampen opened #1184 "`SelectComponent` msg called when `previousTree` is null"
Augury version (required): 1.13.0

[2017-06-10 15:46] stevenkampen opened #1186 "`router.rootComponentType` is sometimes null"
Augury version (required): 1.13.0

We see error reports indicating `router.rootComponentType` is sometimes null. Not sure why this would be, but we should allow it to continue so the user has a chance to see some broken behaviour and report the issue.

[2017-06-12 08:57] stevenkampen opened #1188 "`parseProviderName` errors on undefined provider"
Augury version (required): 1.13.0
Angular version (required): all

This only happens when you have a broken configuration, but we should not show any error and instead let Angular take care of that.

[2017-06-12 09:03] e-cloud opened #1190 "Can not inspect the components like MdMenu of material2"
Augury version (required): 1.13.0
Angular version (required): 4.1.0
Date: 2017-6-12
OS: Ubuntu 17.04

Demo test application:

https://plnkr.co/edit/sKibSskmvzcUB9XOEZP1?p=preview

download the code and try it

Description of issue:

You can't inspect or find overlay-related components of materail2

Additional details:
This may be caused by the implementation of **overlayed** components. Material2

[2017-06-12 09:13] stevenkampen commented on #1177
@slavafomin At the moment this is not possible, but it does seem like something that should be possible. @igor-ka @sumitarora Thoughts?

[2017-06-12 09:26] stevenkampen opened #1191 "ComponentTree message sometimes contains null root node"
Augury version (required): 1.13.0
Angular version (required): 2.4.1

@igor-ka @sumitarora

I can't reproduce this yet, but [this](https://sentry.io/rangleio-wh/augury/issues/288480727/) error report shows that we sometimes send a component tree message with a null root node. The error is thrown when our `trackById` function calls `node.id`.

Should our solution be to filter out null root nodes bef

[2017-06-12 09:33] stevenkampen opened #1192 "Update Raven.js version"
Augury version (required): 1.13.0

[2017-06-12 09:57] stevenkampen opened #1193 "Uncaught exception info within `remoteExecute` is swallowed"
Augury version (required): 1.13.0

We are seeing lots of error reports from this logic but they all have the same signature because we don't relay any properties of the ExceptionInfo object that comes back from `inspectedWindow.eval`.

[2017-06-12 10:06] realappie opened #1195 "Feature request: Iframe debugging"
First of all, thanks for your great work on augury Its a perfect tool for debugging angular applications.

Im currently building an application where I have a second angular application running in an iframe, I cannot use augury to debug the iframe. Even if I switch to it in here.

![](https://image.prntscr.com/image/J_XJqeZfQdms4zJ1JDzxUQ.png)

Being able to debug iframes would be a great addition

[2017-06-12 16:06] #1193 closed

[2017-06-12 16:08] #1188 closed

[2017-06-12 16:09] #1186 closed

[2017-06-12 16:10] #1184 closed

[2017-06-12 16:13] #1182 closed

[2017-06-12 16:15] #1178 closed

[2017-06-12 16:15] #1179 closed

[2017-06-12 19:40] #1165 closed

[2017-06-13 09:00] stevenkampen commented on #1190
@e-cloud Thank you for the report and demo code. We'll look at this shortly.

[2017-06-13 10:10] XardoniK opened #1198 "Can't see state tab in properties"
Augury: 1.14.0
Date: Tue, 13 Jun 2017 10:07:57 GMT
OS: Win10 x64

Description of issue:
I can't see State tab(with data of exist angular app) when I click AppComponent.

![image](https://user-images.githubusercontent.com/9059223/27077680-2f793dfa-5031-11e7-8ee5-7add2e85ee28.png)

Angular version (required): 4.1.3/4.2.2

[2017-06-13 13:03] #1198 closed

[2017-06-13 17:47] winnemucca commented on #1089
Occasionally when I reload and try to get Augury to reload I also see this

(anonymous) @ content-script.js:5099

Can't help but wonder if this is part of the problem to Augury not identifying the application as Angular.

[2017-06-14 14:17] janpio opened #1200 "Change angular version colour to "augury yellow" in dark mode for readability"
Augury version (required): 1.14.0
Angular version (required): 4.1.3
OS: Windows 10

![blue-on-black](https://user-images.githubusercontent.com/183673/27136971-f05d29a0-511c-11e7-8520-7cd9b4e509c9.PNG)

Pretty unreadable.

[2017-06-14 14:18] janpio opened #1201 "Contribution guide links to developer wiki that doesn't exist"
https://augury.angular.io/pages/guides/contribute.html links multiple times to https://github.com/rangle/augury/wiki which doesn't exist.

[2017-06-14 16:44] igor-ka commented on #1200
@janpio we will change the colour to Augury Yellow for better readability. I will change the title of this issue to reflect that. Thank you for pointing this out.

[2017-06-14 16:45] sumitarora commented on #1200
@igor-ka working on that.

[2017-06-15 04:46] SanderElias commented on #680
@stevenkampen I think the @mattwilson1024 use case is quite common. A lot of projects are already built in AngularJS, and adding downgraded Angular components is a common way to extend the app with new functionality.

In a number of cases, it's the first step to migration, but also, there might be some apps that will never be completely migrated, but extended with Angular.
It would be nice when au

[2017-06-16 18:59] rajesh9008 opened #1204 "This application is not an Angular application"
Augury: 1.14.0
Date: Fri, 16 Jun 2017 18:58:54 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-06-16 19:02] #1204 closed

[2017-06-18 00:12] kucharskimaciej opened #1205 "Augury not recognising Angular app when using ngUpgrade"
Augury version (required): 1.14.0
Angular version (required): 4.2.2 (with ngUpgrade)
Date: 18/06/17
OS: macOS Sierra

Recently upgraded my AngularJS app to Angular by following the [upgrade guide](https://angular.io/guide/upgrade). The upgrade worked well, but I can't get the extension to recognize the application as an Angular app:
![screen shot 2017-06-18 at 02 05 08](https://user-images.githubu

[2017-06-19 14:38] #814 closed

[2017-06-19 14:39] #1025 closed

[2017-06-19 14:57] #1164 closed

[2017-06-19 15:03] igor-ka commented on #1205
We are already investigating this case under a duplicate issue #680

[2017-06-19 15:03] #1205 closed

[2017-06-19 15:07] igor-ka commented on #1126
We will use the learning from this POC to implement a full solution under another set of issues

[2017-06-19 15:07] #1126 closed

[2017-06-19 15:24] igor-ka commented on #1177
Hey @slavafomin I think we need a bit of improvement when it comes to modifying the values of the state objects. We will need to groom this issues a bit further but I will add this to our feature backlog for now.

[2017-06-19 18:31] slavafomin commented on #1177
Thank you for your valuable work :+1:

[2017-06-20 01:58] chenyulun opened #1206 "WebSocket is closed before the connection is established."
Augury: 1.14.0
Date: Tue, 20 Jun 2017 01:48:49 GMT
OS: MacIntel
 chrome:  59.0.3071.104 x64
Demo test application:
run
angular-cli: 1.1.2
node: 8.0.0
os: darwin x64

Description of issue:
WebSocket is closed before the connection is established.

Angular version (required): 4.2.2

Steps to reproduce:
WebSocket connection to 'ws://localhost:4200/sockjs-node/575/zgm5yzpc/websocket' failed: Connectio

[2017-06-20 02:24] chenyulun commented on #1206
This is incidental，Now be no errors

[2017-06-20 02:28] #1206 closed

[2017-06-21 14:25] stevenkampen opened #1209 ""No Routes" message displays alongside single empty root node."
Augury version (required): 1.14.0
Angular version (required): all

We shouldn't render any visualization if there are no routes.

<img width="828" alt="screen shot 2017-06-21 at 4 23 40 pm" src="https://user-images.githubusercontent.com/898763/27389248-1fb75e24-569e-11e7-8e25-b90373ff28d3.png">

[2017-06-22 12:34] jonrimmer opened #1210 "Augury does not detect hybrid app as Angular application"
Augury version (required): 1.14.0
Angular version (required): 4.2.4
OS: macOS

Demo test application:

https://github.com/ui-router/sample-app-angular-hybrid

Description of issue:

Augury does not detect the Angular application.

Steps to reproduce:

1. Perform:
[code]

2. Open devtools
3. Select "Augury"

[2017-06-22 12:48] jonrimmer commented on #1210
Sorry, just realised this is a dupe of #680.

[2017-06-22 12:48] #1210 closed

[2017-06-22 17:46] #1070 closed

[2017-06-22 17:46] #1140 closed

[2017-06-22 17:49] #680 closed

[2017-06-22 18:01] #1192 closed

[2017-06-23 06:53] Draccoz commented on #90
Hello lads. Sorry to disappoint you but Augury does **not** show `MdDialog`s. In the screenshot below I have an `MdDialog` with `SessionsForm` component. Wanted to debug it (displays incorrectly) but nope, not happening.
![image](https://user-images.githubusercontent.com/4731061/27469724-3caadee4-57f1-11e7-8aa1-c04b9b1195b1.png)

[2017-06-25 12:09] Mohendran opened #1214 "EntryComponents are not visible in augury"
Augury version (required): 1.14.0
Angular version (required): 4.0.3

Steps to reproduce:

1. Use ng-bootstrap (Modal)
2. Include ur template in the entryComponents field in ur module
3. Open Augury... U will not be able to see the component for debugging

[2017-06-27 08:19] reflog commented on #1173
Happens on every live-reload of angular-cli

[2017-06-27 15:19] #1200 closed

[2017-06-27 15:42] #1089 closed

[2017-06-27 15:42] #1173 closed

[2017-06-28 06:41] reflog commented on #1173
#1212 doesn't fix this at all :(

[2017-06-29 14:03] #506 closed

[2017-06-29 14:16] th0r commented on #680
So as I understand there is no plan to support @mattwilson1024's use case?

[2017-06-29 14:25] mattwilson1024 commented on #680
It's a shame this isn't being supported - as @SanderElias said I imagine this approach for migrating is fairly common especially for large apps like the one I am working on where migration is likely to be quite a long process.

I'd be interested to hear if anybody comes up with any workarounds or finds alternative tools that can be used in this scenario.

[2017-06-29 16:48] igor-ka commented on #680
@mattwilson1024 and @th0r supporting this use case would mean essentially supporting AngularJS in addition to Angular. This would be a relatively large effort to achieve as it would mean that Augury would have to support both (quite different) frameworks, and add a lot of complexity to the codebase as a result.

At this point in time, we would like to focus our resources on making Augury a great t

[2017-07-03 15:08] fullstackfool opened #1216 ""No provider for Router" error"
Augury version (required): 1.14.0
Angular version (required): 2.4.10
Angular router: 3.4.10
Date: 03/07/2017
OS: Win10 & Mac 10.11.6

Description of issue:

[code]

The compilation works, the app works, the routing works. The app files themselves have not changed, just the compilation. I understand this isn't terribly descriptive, sorry.

Any guidance or ideas would be greatly appreciated. I've in

[2017-07-03 16:56] bryanrideshark commented on #90
I am also experiencing this.

![image](https://user-images.githubusercontent.com/6453594/27801984-a4571df8-5fe6-11e7-9315-9ccddea37c74.png)

[2017-07-03 16:59] bryanrideshark opened #1217 "Dynamically created components still do not get displayed"
Augury version (required): 1.14.0
Angular version (required): 2.4.0

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Steps to reproduce:

1. Load any demo of MdDialog
2. Try to i

[2017-07-03 17:00] bryanrideshark commented on #1217
![image](https://user-images.githubusercontent.com/6453594/27802078-2e350fe4-5fe7-11e7-9e28-523e5821e022.png)

[2017-07-04 12:33] fullstackfool commented on #1216
This seems to have resolved itself. Possibly due to a compilation issue on a specific branch.

[2017-07-04 13:53] fullstackfool commented on #1216
Apologies, when found to be working it was tested on root page of SPA, hence no router issues. Any internal pages give same issue

[2017-07-06 20:33] riavalon commented on #1169
I've tried and unfortunately, I'm unable to reproduce this issue following the steps you provided. It seems that the source maps are being loaded correctly. Are you still seeing this issue on your projects @csvn?

[2017-07-06 20:39] riavalon commented on #1190
This is indeed because Material places components (such as the dialog component) outside of the root node, nested in a few overlay divs. Unfortunately, we cannot grab those components at this point.

[2017-07-10 03:28] AlDrag opened #1218 "Cannot see contents of Map Collection Types"
Augury version (required): 1.14.0
Angular version (required): 4.2.5
Date: 10 - July - 2017
OS: OSX 10.12.5

In a component, create a class variable of type Map and you are unable to view its contents with Augury in State Properties tab.

In the screenshot below, you can see the contents of the Map 'virtuallySelectedRows'

![screen shot 2017-07-10 at 3 21 52 pm](https://user-images.githubuserconten

[2017-07-12 12:30] shral opened #1219 "Auguri couses Keycloack to go into infinit redirect loope"
Augury version (required):1.14.0
Angular version (required): 1.4.4
Keycloak version: 2.4.0
Date:12.Jul.2017
OS: Debian GNU/Linux 8
Browser: Google Chrome Version 56.0.2924.87 (64-bit)

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
--

[2017-07-13 17:42] 111rohittiwari opened #1220 "Ionic3 Angular4"
Augury: 1.14.0
Date: Thu, 13 Jul 2017 17:41:08 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-07-15 20:04] lionmof opened #1221 "e333"
Augury: 1.14.0
Date: Sat, 15 Jul 2017 20:04:09 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-07-17 07:58] e-cloud commented on #1221
@lionmof , hey man, rubbish issue is really annoying for someone watching this repo. How could you post such an issue!!!

[2017-07-17 13:15] #1221 closed

[2017-07-17 13:26] #1220 closed

[2017-07-17 13:27] sumitarora commented on #1220
Closing as no description provided. Please reopen the issue with detailed description.

[2017-07-18 08:32] will093 commented on #1214
I am having the same problem.

[2017-07-24 07:55] irontroter opened #1222 "iCanyon"
Augury: 1.14.0
Date: Mon, 24 Jul 2017 07:55:29 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-07-24 17:19] csvn commented on #1169
@riavalon Sorry for the late response, I've been on vacation.

I have updated to v1.14.0, but I still have the same issue. I also tried removing the extension and reinstalling it, but to no effect.

I found the install location, and looked at the files in the `build` folder (`C:\Users\<user>\AppData\Local\Google\Chrome\User Data\Default\Extensions\elgalmkoelokbchhkhacckoklkejnhcd\1.14.0_1\build`).

[2017-07-25 13:24] chaosmonster opened #1223 "Augury doesn't show @Input() for setter"
Augury version (required): 1.14.0
Angular version (required): 4.3.1
Date: 25.7.2017
OS: MacOs 10.12.5

Description of issue:
Augury only shows @Input() properties of a component, when they are NOT setter

Steps to reproduce:

1. Create component with `@Input() set foo(val) {}
2. look at component in augury
3. is not visible

[2017-07-28 07:09] Francute commented on #1089
This is happening to me too. [Probably you don't need to download this, but i will add the oportunity] One simple way to reproduce it in [this repository](https://github.com/Francute/tour-of-heroes-augury) is:

- Make a ng-serve (I'm using Angular Cli)
- Delete the line 28 in _src/app/modulos/principal.module.ts_ `DecimalesPipe,`
- This will fire in Angular an error because there are files which d

[2017-08-01 21:36] rodusa opened #1224 "When json data is relatively big modal with debug data breaks"
Augury version (1.14.0):
Angular version (4.0):
Date:08-01-2017
OS:Mac

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped)

[2017-08-02 14:03] kyr0 opened #1225 "Feature request/debate: Graphical dependency tree"
Augury version (required): 1.14.0
Angular version (required): 4.3.1
Date: 02.08.2017
OS: Mac OS X El Capitan 10.11.6

Description of issue:

Augury already features a very nice "NgModules" dependency analyzer based on a list-UI.

While refactoring a large Angular 2 codebase I realized that I would profit alot from a chart view like http://angularjs-graph.org/.

I would like to discuss this idea to

[2017-08-02 23:02] leff commented on #680
While that makes sense for you and other contributors to augury @igor-ka, it does undermine the larger Angular project's contention that "there is an upgrade path from angularjs to angular." I mean, upgrading an angularjs app to angular is the obvious use case for the upgrade module.  Upgrading is hard enough; doing it without tools is a terrible experience.

So I humbly request that you and your

[2017-08-03 10:44] Narayanaswamyv3650 opened #1226 "how to debug the errors by using the angury"
Augury: 1.14.0
Date: Thu, 03 Aug 2017 11:13:44 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-08-03 10:49] e-cloud commented on #1226
@sumitarora do you guys recently get on someone's nerves? There is are not just a few pointless issue created. It's annoying and meaningless.

[2017-08-04 03:06] Joshmamroud commented on #1089
I was having the same issues with Chrome Canary. Updating Chrome seems to have fixed the issue. Issue was with Version 62.0.3175.2 now works on Version 62.0.3175.3

I hope this helps.

[2017-08-08 21:19] bastienJS commented on #1089
Updating to chrome dev 62.0.3175.3 did not help me on win10 64bit. Even after restart of the browser!

[2017-08-10 11:55] fixako commented on #1089
Same problem here. I use linux.

[2017-08-14 15:33] arafeek commented on #1214
Hi @Mohendran would you be able to elaborate on your project structure a little? Also, if you could add a snippet of how you are importing the modal component / its template that would be helpful. Thanks.

[2017-08-15 07:08] Mohendran commented on #1214
@arafeek
Iam following the same snippet as in ng-bootstrap

http://plnkr.co/edit/HebLTX5kLrWK7qif3wp3?p=preview

[2017-08-15 13:22] Karanadmin opened #1228 "ngswich"
Augury: 1.14.0
Date: Tue, 15 Aug 2017 09:03:14 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-08-15 23:09] jasekiw opened #1229 "Some websites not loading when augury is installed on chrome."
Augury version (required): 1.14.0
Angular version (required): Not applicable
Date: 08/18/2017
OS: Windows 10

At first I thought the DNS was not resolving but I realized that the entire tab froze up. This has happened on a few of the sites that I have visited but I only have the one recorded below. After I remove augury the problem goes away.

I tested this on my home computer and my office comput

[2017-08-16 02:47] #1209 closed

[2017-08-16 03:04] #1177 closed

[2017-08-17 15:59] arafeek commented on #1228
Closing this as it has no relevant information on an actual issue or steps to reproduce.

[2017-08-17 15:59] #1228 closed

[2017-08-17 15:59] arafeek commented on #1226
Closing this as it has no relevant information on an actual issue or steps to reproduce.

[2017-08-17 15:59] #1226 closed

[2017-08-17 16:02] arafeek commented on #1224
Closing as this doesn't appear to actually be an augury issue but rather one with the chrome debugger itself.

[2017-08-17 16:02] #1224 closed

[2017-08-17 16:03] arafeek commented on #1222
Closing this as it has no relevant information on an actual issue or steps to reproduce.

[2017-08-17 16:03] #1222 closed

[2017-08-20 13:14] kod88vn commented on #1089
I had the same issue for a bit on my Mac. Then I killed Chrome instance and open another one. Problem solved

[2017-08-21 07:50] Stefjoe opened #1232 "This application is not an Angular application"
Augury: 1.14.0
Date: Mon, 21 Aug 2017 07:38:20 GMT
OS: MacIntel

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): 4 -> latest

Steps to reproduce:

1.

[2017-08-21 17:38] sergkr commented on #694
I'm getting this whenever I open developer tools on any page, even if it is not using Angular.

[2017-08-21 17:48] arafeek commented on #1223
So upon inspection this doesn't seem to be as trivial as I first thought. The problem seems to be that  getters / setters are non-enumerable properties and therefore their values get stripped out during the serialization / deserialization process.

[2017-08-22 10:05] josersleal opened #1233 "Invocation of form runtime"
Augury: 1.14.0
Date: Tue, 22 Aug 2017 10:05:05 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-08-22 14:00] arafeek commented on #1233
Hi @josersleal, could you provide some details with respect to the issue you are having?

[2017-08-22 14:10] arafeek commented on #1232
Hi @Stefjoe, thanks for your feedback! If you don't mind my asking, what stage of the tutorial are you in when you are trying to inspect with Augury? The application needs to be successfully running in order for Augury to properly recognize the application.

[2017-08-22 21:38] josersleal commented on #1233
I cried wolf.. apologies and thank you..

[2017-08-22 21:38] #1233 closed

[2017-08-23 07:02] kyr0 commented on #1217
Fixing that would be awesome. @arafeek Tell me if you think you would benefit from any help. e.g. for beta testing, research etc.

[2017-08-23 08:47] Stefjoe commented on #1232
Hi @arafeek,

thx for your reply :-)

I installed Augury when i was at the tut point Services:
https://angular.io/tutorial/toh-pt4

It ist strange, because sometimes it is working an sometimes not, i am using Angular version 4.3.5.
I must also say, that i am totally new to Angular, so maybe it could also be a user mistake, don't really know.

When i start **npm start** and open the console, it doe

[2017-08-23 21:34] Devcon4 opened #1234 "State does not show up if your component uses a service with a function called 'delete'"
Augury version (1.14.0):
Angular version (4.3.6):
Date: 8/23/2017
OS: Windows 10

Demo test application:
[Github repo](https://github.com/Devcon4/StateIssue)

Description of issue:
We generate a DataService that mirrors our backend, In doing so we end up with a service with objects with functions that match our controllers. Sometimes we have a api call called 'delete'. I noticed that several of ou

[2017-08-24 15:05] arafeek commented on #1234
Hey @Devcon4 thanks for your feedback.

The issue you are experiencing is related to the way we pass messages about component state Augury. In order to correctly handle complex objects properly, our serialization process creates a function representation of the object capable of properly reconstructing itself when called. You can see how this works in ![serialize.ts](https://github.com/rangle/augu

[2017-08-24 18:54] arafeek commented on #1217
Hey @kyr0 so on investigation this appears to be due to the same reason causing #1190. Basically at this time, Augury cannot gather any information about components outside of `app-route`

[2017-08-25 14:06] arafeek commented on #1234
Tracked ![here](https://github.com/rangle/augury/pull/1235)

[2017-08-25 14:35] arafeek commented on #1214
@Mohendran Sorry for the late reply. This issue seems to be due to the fact that these dynamically loaded components do not show up in calls to `ng.probe()`. Unfortunately at this time Augury makes heavy use of `ng.probe()` to gather information about the running application and so is unaware of their presence. Currently investigating how we can get around this limitation.

[2017-08-28 10:36] vugar005 opened #1236 "Augury says 'No component selected' in Angular project."
Hi.I have been using Augury in many different Angular projects and Augury worked well. But in this project Augury states 'No component selected'. It seems Augury cannot identify my components. Please help me to resolve this problem. I attached project file here. To run this project on browser paste this link:
localhost:4200/#/?token=e0781f79719644bd8639b0e4e2fe4c0bd30646fb038a429f866886f727b3ef04

[2017-08-28 14:47] arafeek commented on #1236
Thanks for your feedback @vugar005. Would you be able to link to some hosted example code that displays the issue (eg. on www.plunkr.co). Please understand that I am just a bit weary of downloading and executing unknown zip files. Thanks.

[2017-08-28 15:44] Mohendran commented on #1214
@arafeek 👍  Augury is awesome... u guys are making it extra awesome

[2017-08-29 05:14] vugar005 commented on #1236
OK @arafeek . I would try to upload the project soon . It would took time because projects consists of many components.

[2017-08-30 08:44] AlDrag opened #1237 "Feature request: Visual Change Detection Tree"
Augury version (required): 1.14.0
Angular version (required): 4.3.0
Date: 30/08/2017
OS: Mac OSX Sierra

Description of issue:

It would be really cool if we could have some sort visual tree that shows Change Detection happening in real time. This would allow you to see frequency of change detection throughout your app and what is causing it. Is this even possible?

Thanks

[2017-09-07 20:40] theship commented on #1232
Hi, folks: Just FYI, I got the same error message on a sample file as well, but it happened when I messed with the files. I was running the sample app for the reactive forms (https://angular.io/guide/reactive-forms). I corrupted the systemjs-angular-loader.js file. Once I corrected the mistake, the error went away.

[2017-09-08 08:58] Xestero opened #1238 "asdasdasdasdasdas"
"This application is running in production mode and therefore cannot be inspected using Augury.
If this is an Angular application, please rebuild your application in debug mode or remove the call to enableProdMode()."

"Angular is running in the development mode. Call enableProdMode() to enable the production mode."

[2017-09-09 20:21] MazherUddin opened #1239 "State is not shown for lazy routed components."
Augury version (required):latest
Angular version (required):4.3.6
Date:Sep 9, 2017
OS:Windows 10

Description of issue:
State is not shown for lazy routed components. I can only view or modify properties of the components that are not routed.

Steps to reproduce:

1. Route to any component with some properties.
2. Click the component in angury.
3. The state of the properties are not displayed.

[2017-09-11 10:14] NikxDa opened #1240 "Element preview not applying transform"
Augury version (required): 1.14.0
Angular version (required): 4.3.6
Date: 11.09.2017
OS: macOS Sierra

Description of issue:
A transformed element will not be highlighted correctly in the element preview.
![screen shot 2017-09-11 at 12 11 16](https://user-images.githubusercontent.com/3141005/30269782-6dc6398c-96ea-11e7-8078-b7a01d84b9aa.png)

Steps to reproduce:

1. Create an Angular component div

[2017-09-12 01:12] LinetTorrico opened #1241 "test1"
Augury: 1.14.0
Date: Tue, 12 Sep 2017 01:11:34 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-09-12 02:30] alan-bio commented on #1237
@arafeek It could be cool to possibly be able to visually see your components as a tree (sort of like you can in Augury right now) but visually show change detection. Maybe you could step through the state/history of it so you can see what triggers change detection and/or see what change detection touches based on your OnPush components etc.

Maybe this idea is ultimately less 'useful' and more ju

[2017-09-12 02:31] AlDrag commented on #1237
@arafeek It could be cool to possibly be able to visually see your components as a tree (sort of like you can in Augury right now) but visually show change detection. Maybe you could step through the state/history of it so you can see what triggers change detection and/or see what change detection touches based on your OnPush components etc.

Maybe this idea is ultimately less 'useful' and more ju

[2017-09-12 14:59] davidrdz93 commented on #1232
using angular-cli 1.3.2 same problem. My angular app is running normally but Angury doesn't recognize it!

[2017-09-12 16:40] arafeek commented on #1241
closing as irrelevant

[2017-09-12 16:40] #1241 closed

[2017-09-18 22:38] digitarald commented on #1150
Hi @igor-ka , I am taking over this effort from @clarkbw , working with @captainbrosset . To kick things off I joined Slack and will ping you.

[2017-09-18 22:44] akshaybabloo opened #1242 "App doesn't respond"
Augury version (required): 1.14
Date: 19/09/2017
OS: Windows 10

The app doesn't seem to respond, no error message nothing. Just stuck.

[2017-09-22 23:15] megamindbrian opened #1243 "Is it necessary to track all users?"
https://github.com/rangle/augury/blob/dev/src/gtm-connection/gtm-connection.ts

[2017-09-25 12:49] mi5ha opened #1244 "Can Augury be used outside Chrome?"
Hi there,

We are writing some Angular tools, and wondering if Augury capabilities could be used outside Chrome?

For example if we could get Component tree or Routes tree for a given project from a command line?

Cheers,
Misha

[2017-09-25 13:47] abdulkareemnalband commented on #1232
Can we have a button to reload augury on this error?
Whenever we go through a login workflow for oauth in our app augury fails to recognize angular app

[2017-09-25 18:39] giovannischirano commented on #970
Hi @stevenkampen, I have a similar problem on my Augury extension. It isn't working at all. When I open the tab I can only close it otherwhise it's all frozen (also mouse pointer doesn't point to the onover element).

[2017-09-27 04:56] hassam7 opened #1245 "[Feature] Change Detection trigger"
Augury version (4.0.0):
Angular version (4.0.0):
Date: 27-9-2017
OS: Mac OS X

Description of issue:
It would be nice to have feature which informs us whenever a change detection is triggered and what event caused it to be triggered.

[2017-09-27 16:57] giovannischirano opened #1246 "Augury slow and not working"
Augury version (required): 1.14.0
Angular version (required): 4.4.3
Date: 27/09/2017
OS: Windows 10

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of

[2017-09-28 12:05] jasonjustice73 commented on #1246
I am experiencing this as well and I have the same OS (Windows 10), Angular Version (4.4.3) and Augury (1.1.4) as giovanni.

[2017-10-05 08:21] JasonGoemaat commented on #1242
Ditto here 16 days later.  Locks up my chrome dev tools and I have to close them and re-open them to access other tabs.

[2017-10-06 19:06] badre429 opened #1247 "Create Visual Studio Code to automatically open source file for current inspected compoenent"
Create Visual Studio Code to automatically open source file for current inspected compoenent  or provide feature to intersepte information from extension author

[2017-10-07 18:20] arafeek commented on #1244
Hi @mi5ha. Currently Augury exists only as a chrome extension as its [Architecture](https://augury.angular.io/pages/guides/architecture.html) relies heavily on this fact.

[2017-10-08 18:20] giovannischirano commented on #1246
The problem seems to be solved. @jasonjustice73 do you still face the issue?

[2017-10-09 15:30] liqwid commented on #1232
I believe the problem is in frontend part of augury: backend.js is getting injected while I still get "This application cannot be inspected using Augury" screen.

Found a hack to reload Augury:
Valid for new versions of chrome(>=61)
1. Right click and inspect Augury tab(that's only possible in newer versions of chrome)
2. Focus augury devtools.
3. Reload page

For me that helps to reload Augury fr

[2017-10-13 13:03] bujardeari commented on #1246
I am still experiencig the same !

[2017-10-13 13:16] bujardeari commented on #1246
#1242

[2017-10-15 08:42] praveens96 opened #1248 "not identifying dynamically added elements"
Augury: 1.14.0
Date: Sun, 15 Oct 2017 08:41:03 GMT
OS: MacIntel

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
- trying to see the properties of the virtual keyboard at https://ngx-material-keyboard.github.io/demo/. its not showi

[2017-10-22 10:22] aGoncharuks commented on #1242
I confirm there is a bug. To reproduce it you should open your Chrome on external monitor and Augury is stuck. In order to get working you should drag Chrome to you main PC monitor and refresh the page. Very annoying, hope you will be able to fix this one.

[2017-10-23 18:34] SteveZheng-BSFT opened #1249 "addEventListener causes my browser fronzen"
Augury: 1.14.0
Date: Mon, 23 Oct 2017 18:16:54 GMT
OS: MacIntel

code:
private createMessageHandler(validOrigin) {
        this.messageHandler = event => {
            if (event.origin === validOrigin) {
                this.receiveResponse(event.data);
            } else {
                log.warn(this, `Message from unknown domain (${event}) has been ignored`);
            }
        };
    }

[2017-10-28 07:37] adityamenon commented on #1150
Hello all, I do not see anything on the README or an Addon on Firefox yet. Which GitHub issue are we tracking the progress for this on?

[2017-11-02 11:59] NikxDa commented on #903
I am having the same problem, using Augury 4.3.6 - any update on this?

[2017-11-03 06:40] ershad1 opened #1250 "app don't work"
Augury: 1.14.0
Date: Fri, 03 Nov 2017 06:39:38 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???
angular v5
Steps to reproduce:

1. j

[2017-11-03 06:42] #1250 closed

[2017-11-03 06:43] ershad1 commented on #1250
duplicate issue
App doesn't respond #1242

[2017-11-07 00:10] AlrikOlson commented on #1114
I noticed when we had a property that contained a "." in the name that the State section stopped showing up. As soon as we replaced the "." in the property, the State section showed up again.

This does not work:
`
var options = {
    ...
    ...
    events: {
        'froala.editor': true
    }
}
`

This does work:
`
var options = {
    ...
    ...
    events: {
        'froalaeditor': true
    }

[2017-11-10 11:58] sebastianslutzky commented on #1089
is there any fix for this? on a Mac + Chrome 61.0.3163.100, I need to open new instances constantly. The plugin is only usable once per tab instance

[2017-11-14 23:04] mohitook commented on #1089
there could be some problems with nested modules (lazy loaded ones)... I've modified my application to lazyload the modules and now agury doesnt work...

[2017-11-15 00:15] mikek65 commented on #1089
Doesn't work at all with my Angular 1 application.  I've never used Augury before so my first impression is not good.

[2017-11-16 19:08] #1238 closed

[2017-11-16 23:00] #1234 closed

[2017-11-19 23:24] kepoddx opened #1251 "It does not show the properties of injected services on a component."
Augury: 1.14.0
Date: Sun, 19 Nov 2017 23:23:41 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2017-11-21 04:45] Zettle opened #1252 "This application is running in production mode and therefore cannot be inspected using Augury. If this is an Angular application, please rebuild your application in debug mode or remove the call to enableProdMode()."
Augury: 1.14.0
Date: Tue, 21 Nov 2017 04:39:39 GMT
OS: Win32

Angular version (required): 4.2.4

Steps to reproduce:
1.use angular/cli to build a project
2.run `ng server` and open 'http://localhost:4200/'
3.use Chrome and press F12 - Augury，but show info :
`This application is running in production mode and therefore cannot be inspected using Augury.
If this is an Angular application, please rebu

[2017-11-21 12:32] zoharyosef opened #1253 "Angular 5 breaks augury"
Augury version 1.14.0:
Angular version 5.0.1:
Date: 21.11.17
OS: Win10

Description of issue:

Component state doesnt show anything!
(the little white box on the right side below "dependencies")
it use to show me all ther properties on angular 4.2.2, and was very helpfull,
ever since we upgraded to angular 5 though, we can't see anything there.

Steps to reproduce:

1. Make an angular 5 app.
2. Ru

[2017-11-25 02:47] quanological commented on #1253
Experiencing the same issue. Same steps as the person above to reproduce the issue. If you need any help please let me know through my email.

Details:
Augury v. 1.14.0
Angular v. 5.0.1
Version 62.0.3202.94 (Official Build) (64-bit)
Mac OS 10.12.6

[2017-11-26 11:14] LosD commented on #1089
@mikek65 It's not made for AngularJS (1), only for Angular (2+).

[2017-11-27 21:17] mikek65 commented on #1089
I suspected as much, but I did not see anything about that in the docs anywhere.  I feel like these days many just assume that all Angular development is happening in 2+, which makes no sense to me.

[2017-11-28 05:41] LosD commented on #1089
@mikek65 It's literally in the description of the project: "Augury is a Google Chrome Dev Tools extension for debugging **Angular 2+** applications."

And again in the very next section: "Augury only works with Angular 2+ applications."

[2017-11-29 15:17] mikek65 commented on #1089
That's a fair point, it's on the main page.  Which I never saw.  I went straight to the Guides, after downloading it from the Chrome store.  There is no mention of 2+ in either of those places.

[2017-11-29 15:21] LosD commented on #1089
... Which is definitely also a fair point. I tend to forget that not everyone uses Github as a primary search engine 😊

[2017-12-05 12:04] splincode opened #1254 "Augury does not show the state of components when inheriting"
1. If we explicitly indicate a dependency, then we can completely debug the state of the component

- ServiceA:

[code]

- AppComponent:

[code]

![image](https://user-images.githubusercontent.com/12021443/33603461-a3df698c-d9c3-11e7-9a6b-fa97ac307af3.png)

2) With the usual inheritance, everything is fine

- All services:

[code]

- AppComponent

[code]

![image](https://user-images.githubusercon

[2017-12-07 05:58] SangKa commented on #1232
![image](https://user-images.githubusercontent.com/6177271/33700853-98012abc-db56-11e7-94bc-45e357d94f70.png)

The primitive project that Angular CLI created got this problem.

Angular CLI: 1.5.3
Node: 8.9.0
OS: win32 x64
Chrome: 62

[2017-12-07 17:58] splincode opened #1255 "Angular 5 does not work"
Angular Version: 5.0.5

I open Augury and everything hangs and breaks:

[code]

Augury version (required): last
Angular version (required): last
OS: windows 7

[2017-12-08 11:59] lski opened #1256 "Is Vivaldi supported?"
Augury version (required): 1.14.0
Angular version (required): 4.4.0
Date: 08/12/2017
OS: Win 10

Description of issue:
Is there any reason the extension would not work on Vivaldi? The Augury tab simply doesnt appear. I installed it via the chrome store, Vivaldi supports most chrome extensions.

I am sorry I havent made a chrome extension before (just an FF one) so dont know how to check it.

[2017-12-08 12:14] jgill248 commented on #1255
I get the same error.

[2017-12-08 16:10] idanb11 commented on #1253
:+1:

[2017-12-08 16:10] idanb11 commented on #1255
:+1:

[2017-12-21 14:23] #1201 closed

[2017-12-21 14:40] sumitarora opened #1257 "Upgrade Augury examples to Angular 5 and Angular CLI"
https://github.com/rangle/augury-examples

[2017-12-22 15:05] santiago-elustondo commented on #1257
PRs submitted to Augury-Examples repository

[2017-12-22 18:55] santiago-elustondo commented on #1255
Can you link to an example repository where this issue occurs?

[2017-12-22 19:02] santiago-elustondo commented on #1253
Can you provide an example where this occurs? We are currently seeing normal behaviour inspecting an Angular 5 app.
![screen shot 2017-12-22 at 2 00 28 pm](https://user-images.githubusercontent.com/10526720/34309576-bfff28fe-e720-11e7-82d2-fbacd4ce5ecf.png)

[2017-12-28 15:00] LetHerRip commented on #1089
Solution for "This application is not an Angular application"
* copy url
* open new tab in the Chrome browser
* paste url
* close tab with the error if you want
When error occur again, repeat steps above

[2017-12-28 19:47] e-schultz commented on #1254
related: #1114

[2017-12-28 20:06] e-schultz commented on #1248
* clone: https://github.com/ngx-material-keyboard/core
* npm install
* npm run start:demo

Augury does not display the keyboard, wondering if it is related to how the CdkPortal from Material2 attaches things to the application

[2017-12-29 10:40] rahil051 commented on #1198
Why closed the issue ? Is it resolved ? Because I am having the same with release 1.14.0

[2017-12-29 11:00] XardoniK commented on #1198
I reinstalled and work again. Augury sometimes works weird but reopen developer console, reinstall plugin or reopen browser can help

[2017-12-31 13:16] zoharyosef commented on #1255
I presume it happens on very large projects.
Ill try to make a plunkr or something

[2018-01-02 11:34] GNSSYSTEMS-tg commented on #1236
I've got the same issue. Is this fixed by now? Unfortunately, I'm unable to open up the source code on our project...

[2018-01-02 17:27] amitagrawal11 opened #1261 "ng.probe is not a function after installing augury as chrome extension"
Augury: 1.14.0
Date: Tue, 02 Jan 2018 17:19:49 GMT
OS: MacIntel

**Description of issue: ng.probe is not a function**
![screen shot 2018-01-02 at 8 30 55 pm](https://user-images.githubusercontent.com/5697986/34492848-60c96f6e-f00f-11e7-8435-7f870c60f2a3.png)

**Angular version (required):** 5.0.0

Steps to reproduce:

1. Installed Augury Extension in Chrome
2. Restarted chrome
3. Ran angular 5 app

[2018-01-02 18:07] amitagrawal11 commented on #1261
@sumitarora - for your confirmation, I tried commented  line enableProdMode(), but still did not work. Now code look like this:

if (environment.production) {
   // enableProdMode();   /// disable this line of code to be executed
}

Nothing worked :(

[2018-01-02 18:23] sumitarora commented on #1261
@amitagrawal11 Is there a repo I can take a look

[2018-01-02 18:30] amitagrawal11 commented on #1261
@sumitarora - Currently I am getting this error in my organisation project, for which I can not give access, but if you want to go through it, I will create a sample project for you replicating same issue in that. Would it be fine for you ?

[2018-01-02 18:38] sumitarora commented on #1261
yeap that's the recommended way.

[2018-01-02 19:17] amitagrawal11 commented on #1261
@sumitarora - I am not able to re-produce this bug in sample project since I did not loaded all external modules like as angular material and others too.

let me know when you free, I can setup a call/video where I can let you go through my project code to resolve issue.

[2018-01-03 05:36] mariannafld commented on #1214
@arafeek, Did you found the way how to allow  to debug dynamically loaded components (modal dialogs)? Thank you in advance, 👍

[2018-01-03 21:39] karlos1337 commented on #1150
Something about this?

[2018-01-05 07:58] rajeshbattula631 opened #1264 "Augury app isn't working"
Augury version (required): 5.0.0
Angular version (required): 5.0.0
Date: 05-01-2018
OS: Windows

Description of issue:
-- Include (clipped) screenshot images if possible.
Augury app is not working when i am debugging. Please help me in this. Thanks in advance.

[2018-01-05 16:26] santiago-elustondo commented on #1264
Hello, please provide more detail.
Does the developer tools tab load?
Are you seeing any error messages? Can you take some screenshots?
Is there a repository that we can test against to replicate the issue?

[2018-01-07 10:30] distante commented on #1253
I have the exact same issue in an Ionic 3 Project using Angular 5.0.3  There is no State tab

[2018-01-08 10:40] chami007 commented on #1255
same issue here. any updates ?

[2018-01-08 10:48] splincode commented on #1255
yes it stayed the same

[2018-01-08 14:23] dizid commented on #1264
Same problem here.
Just installed Augury on Lubuntu / Chrome / Angular 5
The extension loads, no errors but it doesn't show anything, no component tree no nothing.
The only thing it says "No component selected", so when i try selecting anything on the webpage the Angular app is loaded (http://localhost:4200/) it still shows nothing.

[2018-01-08 15:15] sumitarora commented on #1264
@dizid Do you have a sample repo where you can replicate the issue?

[2018-01-08 16:24] dizid commented on #1264
Hi Sumitarora,
I managed to upload this learning Angualr-project to github here:
https://github.com/dizid/recipes.git

[2018-01-08 19:26] dizid commented on #1264
I have another issue now. While the Angular app (same as above on github) is loaded in the browser, Augury says: "This application is not an Angular application.
This application cannot be inspected using Augury."

While i am pretty sure i am not developing in C+ :)

[2018-01-11 05:35] philanz opened #1265 "Augury with Angular 5 Service Worker"
Augury version (required): 1.14.0
Angular version (required): 5.0.0
Date: 11/1/2018
OS: Ubuntu 16.04 LTS

Demo test application:
Angular CLI  - 1.6.3 Generated Code

Steps to reproduce:

1. Get chrome and install augury
2. create an angular 5 service worker app (ng new angularpwa --service-worker)
3. ng build --prod
4. run http-server on dist folder
5.Refresh app few times and see the app crash

U

[2018-01-12 19:30] santiago-elustondo commented on #1265
Hi @philanz, thanks a lot for contributing, and providing clear instructions to replicate the issue.

I have followed your instructions, and have not been able to replicate. The app functions normally on my end after refreshing numerous times.
I am running Mac OSX (High Sierra) and Augury 1.14

Augury should not start up if the application is running in production mode. The Angular service worker

[2018-01-14 22:18] dochsu opened #1266 "NgModules tab shows "None" for all headings"
Augury: 1.14.0
Date: Sun, 14 Jan 2018 22:10:24 GMT
OS: Win32

Description of issue:

Augury shows no modules under NgModules when debugging an Angular 5 application in Chrome:

![image](https://user-images.githubusercontent.com/2533219/34921330-78b6deca-f94e-11e7-8324-bfd5d58e8d3b.png)

Angular version (required): 5.0.0.0

Steps to reproduce:

1) Install Augury in the latest version of Chrome (63.

[2018-01-15 08:52] Freshchris01 opened #1267 "[Feature] Possibility to inspect entryComponents"
Augury: 1.14.0
Date: Mon, 15 Jan 2018 08:47:44 GMT
OS: Win32

Description of issue:
Is it possible to include the feature to inspect entryComponents, e.g. ngx-bootstrap modals?

Angular version (required): 5.1.2

[2018-01-15 16:29] mcelotti commented on #1236
same here, I'm using augury 1.14.0, angular 5.0.3, Ubuntu 16.04.3

[2018-01-15 17:53] vugar005 commented on #1236
The problem is solved but I am not sure how. After I run project in internet explorer ,there were some errors caught, After fixing them and running in chrome ,the augury start to work as expected. Seems that augury also caught problems but not showing. Not sure it is because of it.

[2018-01-18 09:56] Tsuki commented on #1255
It is from chrome-extension://elgalmkoelokbchhkhacckoklkejnhcd/build/backend.js:sourcemap
Which is Angury

[2018-01-18 15:53] etherwizard commented on #1255
This happens immediately after Augury gets two levels deep in analyzing the app component structure.

[2018-01-18 20:33] #1257 closed

[2018-01-18 20:33] sumitarora commented on #1251
Please add more details and reopen the issue.

[2018-01-18 20:33] #1251 closed

[2018-01-20 06:41] vugar005 commented on #1236
@mcelotti @GNSSYSTEMS-tg  . I remember also a change I made in project.
In index.html please change` <base href="/">` to
`<base href="./">`
Then restart chrome and let me know whether the problem is solved.

[2018-01-20 16:50] mcelotti commented on #1236
@vugar005 I think my problem was related to a full chrome restart. Today, without changes, it works as expected.
I did not try the "<base href" since it's working without that tag.
Thank you.

[2018-01-23 12:53] laudeam commented on #1264
_Angular Version 5.2.1
Chrome Version 63.0.3239.132
Built with ng-cli 1.6.5
OS Windows 10_

Augury seems badly broken on the default app created with ng-cli : buttons NgModules, RouterTree, InjectorGraph do not respond.

[2018-01-23 19:29] Invis1ble commented on #1150
bump

[2018-01-24 15:43] andrewthauer commented on #1150
Firefox support is definitely on the roadmap. but at this point I couldn't give an exact timeline. As far as I know, there are no open PR's related to Firefox support.

There has been some encouraging initial success getting Augury running in Firefox (debug mode) so hopefully the effort is relatively small.

[2018-01-24 15:58] zoharyosef commented on #1255
I've tried 1.15 on my app (pretty big one)
and it still doesn't work :sob:

[2018-01-24 18:57] santiago-elustondo commented on #1150
Howdy! Please see progress on this PR: https://github.com/rangle/augury/pull/1268
We hope to be able to release as a FireFox add-on very soon.

[2018-01-26 18:34] santiago-elustondo commented on #1256
Hey, sorry about the delay.
It sounds like Vivaldi supports installation of `.crx` files. If this is the case, it should work just by installing the `augury.crx` file available in the Chrome Store. (https://help.vivaldi.com/article/extensions/)

[2018-01-26 18:34] #1256 closed

[2018-01-26 18:54] santiago-elustondo commented on #1264
Thanks for the example repo, @dizid. It seems to be missing some important files like `package.json`, that prevent me from being able to install and run.

Hey @laudeam, thanks for reporting this issue. It works fine on my end, using ng-cli 1.6.6. I will keep you posted as we try out some diagnostic tools.

[2018-01-29 06:54] alonstar commented on #1255
I have the same error, too.
angular v 5.2.1
chrome 64bit 64.0.3282.119

	zone.js:192 Uncaught TypeError: Cannot read property 'filter' of undefined
		at backend.js:9584
		at Array.map (<anonymous>)
		at getDependencies (backend.js:9583)
		at Object.exports.transform (backend.js:9504)
		at backend.js:9511
		at Array.forEach (<anonymous>)
		at transformChildren (backend.js:9510)
		at Object.exports.

[2018-01-30 06:01] fatihemre opened #1269 "Invalid color code: undefined"
Augury: 1.15.0
Date: Tue, 30 Jan 2018 05:53:30 GMT
OS: Windows 10 Pro

Description of issue:
-- After opening any web page, augury returns two alert box. Boxes contains same messages, eg "Invalid color code: undefined"

Angular version (required): The web page not contains an angular script.

If i disable Augury, alert box is not opening

[2018-01-31 01:59] Matmo10 commented on #1242
When I was reading this thread I thought "there's no way this will fix it", but sure enough, dragging the chrome window to my MBP Retina's screen instead of my external monitor and refreshing solved the issue.

[2018-01-31 02:01] akshaybabloo commented on #1242
Also, I guess there seems to be a video drivers issue in Windows. Scaling between different screen size is causing problems with chrome widgets.

[2018-02-07 14:03] Itay-Arad opened #1270 "imported by the module 'AppModule'. Please add a @NgModule annotation."
Unexpected value 'Employee' imported by the module 'AppModule'. Please add a @NgModule annotation.

Augury: 1.15.0
Date: Wed, 07 Feb 2018 14:02:44 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped)

[2018-02-07 21:30] mhengelein commented on #1114
Still having this issue with 1.15.0. :(

[2018-02-08 22:59] clabough commented on #1253
I think it might be related to what it thinks is a component and what it thinks is not.  In my 5.2.4 app, some of the components are not showing state, but a few are.  If I switch Augury modes to "All components and elements" or "Components only", most of the components and elements disappear from the Component Tree. "Hybrid view" shows the most items in the Component Tree, but some of them show s

[2018-02-12 11:25] gangsthub opened #1271 "Inability to debug Factory Components such as Mat Dialogs"
Augury: 1.15.0
Date: Mon, 12 Feb 2018 11:20:38 GMT
OS: Win32

Demo test application:
-- https://angular-czrxrm.stackblitz.io/
-- https://stackblitz.com/edit/angular-czrxrm?file=app%2Fdialog-overview-example.ts

Description of issue:
-- Entry components are not added to the component graph. Neither you can search them by using the search field

Angular version (required): Tested in 5.2

Steps to re

[2018-02-13 09:25] tinki007 commented on #1255
The problem occurs also on small applications (2 views. less than 10 components). Error description is the same as described above.

[2018-02-15 23:23] gameboyzone commented on #1255
Angular 5 support provided in version 1.15.0. Just update the extension or uninstall/reinstall the extension. I did a small check on my SPA with 1 views and 2 components and it worked fine so not sure about production level apps on Angular 5 as of now. Hope this update helps!

-- New in version 1.15.0
* Support for Angular 5

[2018-02-16 05:45] zoharyosef commented on #1255
@gameboyzone as i said, i tried V15 and it still didn't work.

[2018-02-16 14:27] andrewthauer commented on #1255
@zoharyosef: Are you getting the same error as @splincode initially indicated? If not, would you mind posting any errors along with other relevant information to help diagnosis the problem?

[2018-02-16 18:51] santiago-elustondo commented on #1255
Currently building out some diagnostic tools that will allow us to see where Augury is failing for you, as we are not able to replicate a lot of these issues.
We hope to be able to resolve these and other bugs very soon.
You may follow the development of this feature here: https://github.com/rangle/augury/pull/1272

[2018-02-16 19:59] abalad commented on #1089
@LetHerRip THX

[2018-02-20 17:29] csvn commented on #1169
This is still occurring with v1.15.0. I tried removing and installing Augary. When Augary was uninstalled, no errors occurred when I started the debug task.

![image](https://user-images.githubusercontent.com/8770194/36438873-769cb030-166b-11e8-944b-0c7de3809fcb.png)

The build folder of the extension on my disk only contains `.js` files, no `.js.map` files:
![image](https://user-images.githubuser

[2018-02-21 08:53] rossjcooper commented on #1253
I am also getting this issue on Angular 5.1.2, although it was working a week or so ago.
I do not see any state box at all for any of my components.
![screen shot 2018-02-21 at 08 52 54](https://user-images.githubusercontent.com/3597958/36470959-a55b309e-16e4-11e8-92b5-08047e3e8965.png)

[2018-02-21 08:58] rossjcooper commented on #1253
Annoyingly I cannot reproduce this issue either, I wonder if it is when an app gets to a certain size or X amount of nested components?
[Angular 5 Demo App](https://angular-c9qvdq.stackblitz.io/)

[2018-02-24 05:04] dylanvb0 commented on #1232
I think I figured out the behavior. Whenever the project fails to build, it gives the screen as expected; however, when the application starts working again, that screen remains there. The solution is like @liqwid suggested. It just needs to be reloaded. I'm not sure if chrome updated since his comment, but the third step should be "Reload Frame".

[2018-02-27 20:08] JoeKahl commented on #416
I have similar problem.
src/index.ts has:
// enableProdMode();
This changed nothing.  Still cannot use Augury.
Seems like complex apps have this problem?

[2018-02-27 20:57] davutg commented on #416
@JoeKahl  Are you using some other extensions? Such as AngularJS Inspector for Angular 1x.
Give a try disabling other extensions but let Augry work. In which version I don't remember exactly but once I clicked on Enable for AngularJS Inspector extension and then I was able to use Augry. So, this could be a conflict with another extension because some extensions change DOM.

P.S. Thankfully, now I'

[2018-03-01 14:19] Brownsie opened #1275 "click"
Augury: 1.15.0
Date: Thu, 01 Mar 2018 14:19:23 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2018-03-01 14:20] #1275 closed

[2018-03-01 20:17] gentoo90 commented on #1252
I had the same problem, but is was gone when I added
[code]
to my `tsconfog.json`. This is mentioned in README, but it should probably be added to the error message itself.

[2018-03-02 13:32] Adam-Michalski opened #1276 "getter value is not reflected in state section"
Augury version (required):
4.6
OS:
Windows 10
Demo test application:
https://angular-wt79u6.stackblitz.io/

Description of issue:
getters value is not reflected in state section of Augury.
with below implementation only _name value is visible
otherName is not recognized.

I think _name, name, otherName should be reflected in State section for component cause every application has:
1. private field

[2018-03-14 12:59] dragGH102 commented on #1253
I can confirm the issue. state shows up only for certain components, notably not including deeply nested ones

[2018-03-21 03:08] pharazon commented on #1232
I didn't get Augury to recognize out of 2/2 angular 1.x sites that I tested that either would be angular -sites, so I installed ng-inspector instead.

[2018-03-22 20:58] andrewthauer commented on #1150
We will also need to ensure the following are updated / checked before publishing:

- Ensure all UI messaging (labels, etc.) are not making specific reference to Chrome
- Update the README accordingly as well
- README reference npm scripts which have changed

[2018-03-23 13:45] santiago-elustondo commented on #1276
Thank you for this feature suggestion. Adding to backlog.

[2018-03-23 14:08] santiago-elustondo commented on #1089
Anyone who is still having this issue: can you try using the [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) ?
Does the problem persist there, or is it resolved for you?

[2018-03-23 14:09] santiago-elustondo commented on #1232
Anyone who is still having this issue: can you try using the [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) ?
Does the problem persist there, or is it resolved for you?

[2018-03-23 14:49] jacobedawson commented on #1114
I'm having this issue with 1.15.0 / Angular 5- not having the state available greatly reduces the use cases for this extension...

[2018-03-23 16:20] santiago-elustondo commented on #1255
Anyone who is still having this issue: can you try using the [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) ?
Does the problem persist there, or is it resolved for you?

[2018-03-26 16:16] zoharyosef commented on #1255
Will try and update...
Thanks!

[2018-03-27 06:51] zoharyosef commented on #1255
Still the same problem,
the state tab doesn't show any component variables or anything...
let it be noted that i'm using it in an internal network, no access to the internet.
is it possible that some initialization that depends on an internet resource prevents Augury from functioning properly?

[2018-03-27 08:53] combine13 commented on #1252
As @gentoo90 said - add this in the tsconfig.json
`"angularCompilerOptions": {
     "debug": true
   }`

But also put comment on  enableProdMode(); in main.ts file so that it is:
`// enableProdMode();
`

Rebuild the app and go to Augury in the console - you should now be able to use it.

Cheers

[2018-03-27 11:19] m-przybylski commented on #1255
I spend some time to debug the issue by myself. I don't know how to fix it so I'm not able to provide PR. It happens when you use combination of @Inject decorator and forwardRef in constructor. It happens to me when I use Menu component from PrimeNG library [link](https://github.com/primefaces/primeng/blob/1988b877bf9cb6b9cec73817e3eda4b387d0fb0d/src/app/components/menu/menu.ts#L27:25).

[2018-03-27 11:43] splincode commented on #1255
@santiago-elustondo Yes, I only see problems with Primeng

[2018-03-27 16:19] rpellerin commented on #1052
Hi @waqas7803,
I know it's been a year now, but have you made any progress in regard to your extension?
Thanks!

[2018-03-27 21:55] rance opened #1279 "How to use Augury to profile Angular app performance?"
Augury version (required): 1.15.0
Angular version (required): 4.0
Date:
OS: MacOS

-- Please make sure you're using the latest version of Augury before reporting an issue.

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include

[2018-03-28 19:46] callahad commented on #1150
Looks like Augury is now live on AMO: https://addons.mozilla.org/en-US/firefox/addon/angular-augury/

🎉

[2018-03-28 19:49] andrewthauer commented on #1150
It is indeed. It's currently marked as experimental since it's based on the current `dev` branch. The official release should come very soon.

[2018-03-28 22:55] santiago-elustondo commented on #1255
@m-przybylski, thanks a lot your insight. None of our example apps used `forwardRed()`. Ive added PrimeNG, specifically the `Menu` component to our demo testing app.
@m-przybylski, @splincode, can you update your [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) and check the problem has gone away for you?

[2018-03-29 12:39] waqas7803 commented on #1052
Hi @rpellerin
Yes i did created chrome dev tools extension to debug rxjs code.
But that is not publically available yet.
Thanks

[2018-03-29 12:43] wa-sunlab commented on #1052
https://www.youtube.com/watch?v=HQWnCo_lMJQ&t=2s

[2018-03-29 12:44] waqas7803 commented on #1052
https://github.com/rangle/augury/issues/1052#issuecomment-376585778

[2018-03-29 12:44] waqas7803 commented on #1052
https://www.youtube.com/watch?v=HQWnCo_lMJQ&t=2s

[2018-03-29 13:41] andrewthauer commented on #1279
@rance - What specifically are you trying to profile? Have you tried using the the Chrome / Firefox builtin performance profiling? We are definitely open to new ideas that are specific to help with Angular development. However, it doesn't make sense (imo) to build performance profiling tools in Augury that may already be available in the standard DevTools provided by the browsers.

[2018-03-29 14:16] m-przybylski commented on #1255
Thank you @santiago-elustondo for an update. I have spotted also one more problem. When you mix optional parameter and not optional it also breaks. An example is [growl](https://github.com/primefaces/primeng/blob/master/src/app/components/growl/growl.ts) component from PrimeNg. It works fine if there is only one dependency with optional decorator provided however if there are multiple `@optional()

[2018-03-29 14:32] andreicristianpetcu commented on #1150
@callahad It is not online. I cannot see it both with your link and by searching it :(

[2018-03-29 14:39] andrewthauer commented on #1150
The add-on was available for a couple of days, but is now disabled based on some warnings encountered in an add-on review by Mozilla. These will need to be addressed before we can re-submit the add-on.

NOTE: This was just an experimental release (not official), so please be patient while we work through the submission & approval process.

[2018-03-29 17:09] santiago-elustondo commented on #1255
@m-przybylski, thanks again for your help. Much appreciated.

I've added [PrimeNG's Growl](https://github.com/primefaces/primeng/blob/master/src/app/components/growl/growl.ts) to our testing repo and published another version of the [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) (version 1.15.5).

Please let us know if you come across

[2018-03-30 01:15] inunotaisho26 opened #1280 "[Feature] Dynamic browser toolbar icon"
Augury version (required): 1.15.0
Angular version (required): 4.3.6
Date: 03/29/18
OS: macOS High Sierra

Description of issue:
Would appreciate if augury coloring is neutral when not on an angular website. Its a similar feature to what React DevTools do

Additional details:

React DevTools when on a React site:
<img width="86" alt="screen shot 2018-03-29 at 9 09 17 pm" src="https://user-images.gi

[2018-03-30 08:01] m-przybylski commented on #1255
@santiago-elustondo UR my hero. Thank you for your help. Everything works just fine for me.

[2018-03-30 10:27] splincode commented on #1255
Problem resolved

[2018-03-30 12:53] JonasNo opened #1281 "augury doesnt detect angular or displays no data"
Augury: 1.15.0
Date: Fri, 30 Mar 2018 12:45:02 GMT
OS: Win32

Description of issue:
Extension gives the following message:
"This application is not an Angular application.
This application cannot be inspected using Augury."

or

it will sometimes not display the message but display empty.

Angular version (required): 1.3.9

Steps to reproduce:
1. Goto https://www.systembolaget.se/sok-dryck/
2. Ins

[2018-04-02 19:19] santiago-elustondo commented on #1281
Hey @JonasNo, thanks for checking out Augury!
AngularJS (pre-Angular 2) is not inspectable by Augury.

[2018-04-02 19:19] #1281 closed

[2018-04-02 19:21] santiago-elustondo commented on #1255
Beauty.

[2018-04-02 19:45] santiago-elustondo commented on #1253
Hi everyone. I would like to get this resolved.
If you could point me to an app that shows this bug, I can get it cleared up.

@rossjcooper 's demo looks normal to me, although it is a very small example app with 1 component.
<img width="924" alt="screen shot 2018-04-02 at 3 32 26 pm" src="https://user-images.githubusercontent.com/10526720/38212259-142d8844-368b-11e8-93a2-f97e6a2516e5.png">

[2018-04-03 17:09] clabough commented on #1253
@santiago-elustondo  I wish I could provide you a copy of my project, but it is an internal copyrighted project. Is there some additional diagnostics/testing that I could do to assist you with tracking this down? Or could you add a diagnostics reporting tool to the extension?

[2018-04-06 09:56] Hojou opened #1283 "Components state is not visible if Router is injected in component"
Augury: 1.15.5
Date: Fri, 06 Apr 2018 09:46:59 GMT
OS: Win32

Angular version (required): 5.0.1

Steps to reproduce:
1. Create an app with a component that has a service as a dependency. Observe the components state and modify the service properties, events etc.
2. Add Router as a dependency to the component. The components State is disabled in the Augury plugin. You can no longer inspect the serv

[2018-04-06 10:00] Hojou commented on #699
Not sure if i was supposed to just comment here, but i created a new bug here:
https://github.com/rangle/augury/issues/1283

[2018-04-06 13:51] santiago-elustondo commented on #1253
@clabough, we're currently in the process of building out just that.
It has become a big refactoring job as well, but we expect a release before the end of the month.
You can follow the progress [here](https://github.com/rangle/augury/pull/1272) and [here](https://github.com/rangle/augury/pull/1282).

[2018-04-10 18:12] timmackey commented on #1253
I am experiencing the same issue.  My Angular 5 project is based on ASP.NET Boilerplate.  You can download publicly available source code from here: [https://aspnetboilerplate.com/samples](url)

[2018-04-12 08:39] knaos commented on #680
Plus one on this

[2018-04-12 15:08] #1255 closed

[2018-04-12 15:15] andrewthauer commented on #1269
@fatihemre - Can you try the latest release?

[2018-04-12 15:19] andrewthauer commented on #1264
@dizid, @laudeam - Can you please try the latest release (1.16.0)?

[2018-04-12 15:26] andrewthauer commented on #1242
Please verify this is still an issue with the latest release.

[2018-04-12 23:03] akshaybabloo commented on #1242
@andrewthauer All good. Thanks.

[2018-04-12 23:03] #1242 closed

[2018-04-13 20:28] kspearrin opened #1286 "Angury not working with debugging web extension apps"
Augury version (required): 1.16.0
Angular version (required): 5.2.0
Date:
OS: Windows 10

Demo test application:
https://github.com/bitwarden/browser

Description of issue:
Angury does not seem to work with Angular apps running in a (Chrome) web extension popup.

Steps to reproduce:

1. Create a popup browser action that is an Angular app.
2. Debug with dev tools.
3. Switch to Angury tab. None of

[2018-04-14 23:06] VICHE89 opened #1287 "error TS1240: Unable to resolve signature of property decorator when called as an expression"
Augury: 1.16.0
Date: Sat, 14 Apr 2018 23:05:30 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2018-04-15 13:50] sonicsquad opened #1288 "au"
Augury: 1.16.0
Date: Sun, 15 Apr 2018 13:49:50 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.

Angular version (required): ???

Steps to reproduce:

1.
2.
3.

Addi

[2018-04-17 03:02] #1288 closed

[2018-04-17 08:03] rossjcooper commented on #1253
I've moved from Chrome as I'm finding it more and more buggy for developer tools and have switched to Opera, yes I know its based on Chromium but it seems to work a lot better.

I have managed to install Augury into Opera and the state debug works on the same app that I originally had this issue with when using Chrome.

[2018-04-17 19:45] laudeam commented on #1264
@andrewthauer I tested 1.16.0 with the default angular app with the same config as above and it's working fine. Thanks for the fix !

I also did some quick tests on other projects and didn't notice any problem. I can inspect my components, see the router tree and the module list.

[2018-04-18 00:26] #1264 closed

[2018-04-18 17:24] andreicristianpetcu opened #1289 "Augury breaks Firefox XML viewer"
-- please install the [Augury Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji?hl=en) Chrome extension, as this will be used to test any new features or bug fixes.

Augury version 1.16.0:
Angular version any:
Date: 18th of April 2018
OS: GNU/Linux

Description of issue:
-- When I install Augury I cannot see XML files highlighted in Firefo

[2018-04-18 18:26] andreicristianpetcu commented on #1150
If you are using my unofficial Firefox build know that it breaks up XML formatting in Firefox :(

Cheer up! I fixed it with a PR and [another unofficial build](https://github.com/andreicristianpetcu/augury/releases/download/v1.16.0.2/augury-1.16.0.2-an.fx.xpi) :)

[2018-04-18 18:54] andrewthauer commented on #1150
UPDATE: We are in the process of working through some of the issues that were flagged during the AMO review process. Unfortunately, some of these are not completely straight forward to address due to various factors. I'm hopeful we can work through them in a timely matter, but at this point I can't give an ETA on when that might be exactly.

[2018-04-18 19:31] andreicristianpetcu commented on #1150
@andrewthauer I know Firefox has higher security/privacy standards and publishing a Chrome extension in addons.mozilla.org takes some time. No rush.

I will keep reporting bugs, sending patches and publishing unofficial Firefox builds for whoever is interested.

[2018-04-23 08:09] andreicristianpetcu opened #1291 "Augury makes Firefox really slow"
Augury version: 1.16 ([my own build](https://github.com/andreicristianpetcu/augury/releases/download/v1.16.0.2/augury-1.16.0.2-an.fx.xpi) since it does not have a Firefox port yet)
Angular version (required): 5.2.9
Date: 23 April 2018
OS: Ubuntu 16.04

Demo test application:
 - I tried to reproduce the issue with an open source app but I failed. It only reproduces with the proprietary app I'm work

[2018-04-23 08:10] andreicristianpetcu commented on #1150
I'm having some performance issues with Augury in Firefox :( I [reported the issue here](https://github.com/rangle/augury/issues/1291). I used https://perf-html.io to record a performance profile for whoever is interested.

[2018-04-23 15:07] santiago-elustondo commented on #1291
Can you build without uglify (like `npm run build:dev:firefox`), so we can see the function names in your performance chart?

[2018-04-23 15:08] santiago-elustondo commented on #1283
Thanks a lot. Will investigate.

[2018-04-23 15:09] santiago-elustondo commented on #1283
Thanks. Will investigate.

[2018-04-23 15:10] santiago-elustondo commented on #1289
Thanks @andreicristianpetcu. Please see PR comments.

[2018-04-23 19:07] andreicristianpetcu commented on #1291
It does not seem like it is a really big app. Maybe some other extension is messing with Augury somehow. Check out the [new profile](https://perf-html.io/public/29cd280de0ac7f4011aa0e0e491124c76e70cccf/calltree/?implementation=js&range=39.8177_47.9046&thread=0&threadOrder=0-2-1&v=3), hope it has better data.

![screenshot from 2018-04-23 22-04-55](https://user-images.githubusercontent.com/922368/3

[2018-04-23 19:58] andreicristianpetcu commented on #1291
I think I found a little more info. It seems to allocate A LOT of data. My Firefox profile with one tab at about:debugging and another one at my app localhost:4200 and 41 enabled WebExtensions takes around 400-500 MB shared between 1 main process and 2 Web Content ones.

Once I enable Augury the RAM slowly goes up and up until Firefox completely freezes. At some point both the content and the main

[2018-04-24 06:45] jainvishal520 commented on #1114
Any updates on this? I'm not able to see component states!

[2018-04-24 11:00] rossjcooper commented on #1253
@jainvishal520 Opera and Chrome are almost the same browser as they are both built on Chomium, if you can download the extension file then you just drag it into the extensions page on Opera and it will work most the time.

[2018-04-24 20:47] sethjensenbrown opened #1293 "Augury repeatedly calling function on non-Angular page"
Augury version (required): 1.16
Angular version (required): N/A
Date: 2/24/18
OS: OSX 10.13

Description of issue:

I have a line of code like this `<a href="javascript:postMessage()"><img src="image.gif" alt="Apply" border=0></a>` in a non-Angular page on my company's website, and the Augury extension was causing it to repeatedly get called multiple times per second. I disabled the extension and

[2018-04-25 08:27] jainvishal520 commented on #1253
@rossjcooper Thanks a lot, it works perfectly in opera. It is a good workaround till this issue is fixed.

[2018-04-26 20:28] apallen opened #1294 "Can't remove Augury"
I wan't remove Augury from Chrome on my Mac.

I literally just installed this yesterday. I played with it. Don't want to use it.  I removed it from Chrome yet it still appears!!!!

I did not install it in Firefox but some how this Chrome Extension even appears in FireFox!!

I just installed this yesterday on my Mac.  How do I get rid of this thing!!

[2018-04-26 23:41] digitarald commented on #1291
Just a quick analysis of the first profile (the second seems to have data missing).

The extension seems to message multiple times per frame and have a heavy computation in response to the message:

<img width="803" alt="image" src="https://user-images.githubusercontent.com/8599/39337176-64a6bcda-4970-11e8-8a7c-17f9c8dbed1e.png">

GC is an issue, maybe caused by the many messages and adds overhead

[2018-04-27 03:35] andreicristianpetcu commented on #1291
Thank you for looking into this, @digitarald! Please keep in mind that I can run a build from a branch so if you make one with lots of consolo.log to confirm/infirm this hipotesys

[2018-04-27 09:12] andreicristianpetcu commented on #1291
Hmmmm.... GC? The same app really slows down debugger.html by allocating a lot of RAM. Maybe unrelated, but worth mentioning https://github.com/devtools-html/debugger.html/issues/6094

[2018-04-29 11:14] distante commented on #1253
Does anybody know how can I download the extension so I can install it on Opera?

[2018-05-01 15:17] #1289 closed

[2018-05-01 15:18] santiago-elustondo commented on #1289
merged

[2018-05-01 15:19] santiago-elustondo commented on #1294
go to `chrome://extensions/`

[2018-05-01 15:19] #1294 closed

[2018-05-01 18:11] sunstar007 commented on #1114
Same here - I don't see the state on many of the components in our Angular 5 application (works on some components though). There's no error message to indicate what could be wrong, and the components are very similar in the way they're structured

[2018-05-03 08:32] robertgartman opened #1298 "hybrid"
Pls delete.

[2018-05-03 17:20] talamaska opened #1299 "Exception with the latest build which I had installed long ago and updated automatically to 1.16"
-- please install the [Augury Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji?hl=en) Chrome extension, as this will be used to test any new features or bug fixes.

Augury version (required): 1.16
Angular version (required): 5.2.10
Date: 2 May 2018
OS: Windows 10

Description of issue:
[code]

[2018-05-04 08:42] guillaumegarcia13 commented on #1293
Got a similar beahviour on: https://www.club-acheteurs.com/

[2018-05-04 13:53] santiago-elustondo commented on #1299
Thanks for reporting this. Looking into it.

[2018-05-04 13:58] #1298 closed

[2018-05-04 14:39] santiago-elustondo commented on #1293
Issue confirmed. Will provide more updates shortly.

[2018-05-04 14:53] santiago-elustondo commented on #1293
This is an interesting edge case.

You have redefined the global `window.postMessage()` function, which is a built-in browser API.

Augury uses it to communicate with the developer tools.
<img width="449" alt="screen shot 2018-05-04 at 10 47 41 am" src="https://user-images.githubusercontent.com/10526720/39634616-44b8eae6-4f89-11e8-95d7-6db5111fdc54.png">

Wappalyzer uses this API as well.
<img wid

[2018-05-04 15:40] guillaumegarcia13 commented on #1293
@santiago-elustondo
Thank you very much for your quick response and analysis of this problem.
And sorry for this "edge case"... going to have a talk with the developer. 😅

[2018-05-04 19:01] santiago-elustondo commented on #1291
Hey guys, thanks for the info.
I can't say I've been able to reproduce this memory leak. (I'm on Chrome)

I've been using the following methods:

In the first instance, I am creating a large component tree all at once, taking heap snapshots before and after. As you can see, the memory allocation doubles. (Here Augury is disabled)
<img width="757" alt="screen shot 2018-05-04 at 2 23 10 pm" src="htt

[2018-05-06 15:13] andreicristianpetcu commented on #1291
Not sure if it's the right path. I was unable to fix our app on Chrome. I will comment here if our app breaks Augury on Chrome or not.

Did you do a similar test in Firefox also where the bug was originally reported?

[2018-05-11 00:46] Franklinmagic opened #1300 "I havn't component states"
Augury: 1.16.0
Date: Fri, 11 May 2018 00:43:47 GMT
OS: Win32

Demo test application:
-- Git repository for demo app showing the issue (optional but very helpful for difficult issues).
-- If a code snippet will completely show the issue, please include it.

Description of issue:
-- Include (clipped) screenshot images if possible.
![image](https://user-images.githubusercontent.com/8379841/39900931-7

[2018-05-11 02:54] itsnotvalid commented on #1253
Just a friendly reminder, angular 6 is released so it's likely to break something here or there again.

[2018-05-11 15:30] #1279 closed

[2018-05-11 15:33] andrewthauer commented on #1246
@bujardeari - Would you mind verifying if this is an issue with the latest release?

[2018-05-11 15:35] andrewthauer commented on #1269
Closing with the assumption this may be fixed. If it is still occurring, please re-open with some additional details.

[2018-05-11 15:35] #1269 closed

[2018-05-11 15:38] andrewthauer commented on #1232
Closing with the assumption this has been fixed. Please re-open with additional details if this is not the case.

[2018-05-11 15:38] #1232 closed

[2018-05-11 15:47] andrewthauer commented on #772
Closing this since it's probably obsolete nowadays due to newer tooling.

[2018-05-11 15:47] #772 closed

[2018-05-11 15:54] andrewthauer commented on #1249
@SteveZheng-BSFT - Please check if this is still occurring with the latest version of Augury. If otherwise, please re-open with some additional details.

[2018-05-11 15:54] #1249 closed

[2018-05-11 17:13] andrewthauer commented on #1287
Closing due to insufficient details of issue. Feel free to re-open if you have additional relevant information that will help determine the problem.

[2018-05-11 17:13] #1287 closed

[2018-05-11 17:26] andrewthauer commented on #1253
Augury 1.16.0 fixed a few other Angular 5 related issues. We also tested against Angular 6 which did not introduce any known issues. Closing this under the assumption the latest version fixes the issue. Feel free to open a new issue with additional details.

[2018-05-11 17:26] #1253 closed

[2018-05-11 17:40] andrewthauer commented on #1229
@jasekiw - Are you still experiencing this issue with the latest version of augury?

[2018-05-11 17:43] andrewthauer commented on #1252
This issue was occurring for some people but was reported as fixed in Augury 1.16.0.

[2018-05-11 17:43] #1252 closed

[2018-05-11 17:45] andrewthauer commented on #1236
@vugar005 - Please try the latest version of Augury.

[2018-05-11 17:54] andrewthauer commented on #578
Closing due to inactivity. If this becomes an issue on a bigger scale we will consider re-opening and/or look at addressing.

[2018-05-11 17:54] #578 closed

[2018-05-11 20:37] clabough commented on #1300
I'm still having the same issue that was in #1253

Augury 1.16.0
Angular 6.0.1

It displays the component dependencies correctly, but no properties. Note: this is not for every component in the project, just some.

I've turned on "Usage Data" to try and help.

[2018-05-13 12:10] kpodkalicki commented on #1114
Same here - no state of components visible for Angular 5 app.

[2018-05-14 06:59] nstohler commented on #1283
Same problem for me if when I inject HttpClient:

`constructor(private http: HttpClient) {}`

[2018-05-14 14:17] lautaros86 commented on #1114
Same here  - no state of components visible for Angular 6 app.
Windows 10

[2018-05-14 18:50] santiago-elustondo commented on #1300
@clabough, thanks for the issue submission.
Any idea what might be different about the components that have this problem?

[2018-05-14 19:03] Franklinmagic commented on #1300
i have this problem of all components of all angular's projects.
I make new project for testing but i have same problem.

[2018-05-14 19:10] santiago-elustondo commented on #1283
The router injection issue is confirmed. I see the state disappearing when Router is injected.
However, It works fine for me when I inject HttpClient.
@nstohler, are you injecting anything else into that component?

[2018-05-14 19:13] santiago-elustondo commented on #1114
The bug described in #1283 is confirmed: Injecting a router into a component causes the disappearance of the state display.
Is anyone else also injecting `Router` into their components?  As in:
[code]

If not, are you injecting anything else? (`HttpClient` has also been reported to cause this, although it works for me)

[2018-05-14 20:52] sheariley commented on #1271
I'm having the same issue.  Would be really nice to have this fixed.

[2018-05-15 05:32] rekna1 commented on #1300
Same here, angular 5.2.9 augury 1.1.16.
Only very simple components show state, such as a loading indicator. None of the components loaded in router outlet show any state. Some previous version of augury did not have this problem, but I can't remember when it started to go wrong

[2018-05-15 13:20] MattWilliamsDev commented on #1114
@santiago-elustondo I am injecting `ActivatedRoute` in mine but not Router and having no luck seeing state.

[2018-05-15 14:46] santiago-elustondo commented on #1114
Hey, thanks @MattWilliamsDev.

Is the state missing for all the components, or only those that inject `ActivatedRoute`?

[2018-05-15 17:57] santiago-elustondo commented on #1300
Can you try the latest [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji), and tell me if the issue persists there?

[2018-05-15 18:42] clabough commented on #1300
Issue still persists in Canary build.

[2018-05-15 19:27] santiago-elustondo commented on #1300
@clabough, can you confirm you're using `v1.16.1` of the Canary Build ?

[2018-05-15 19:40] Franklinmagic commented on #1300
Thank for this soluce which resolve my problem

[2018-05-15 19:41] #1300 closed

[2018-05-15 19:47] santiago-elustondo commented on #1299
Could you provide some more details here?
Does this error arise on startup, or as a result of an action?

[2018-05-15 19:54] #1293 closed

[2018-05-15 20:09] santiago-elustondo commented on #1291
@digitarald, where do you see the frequency of messaging?

[2018-05-15 20:11] santiago-elustondo commented on #1291
@digitarald, where are you seeing the frequency of messaging and the computational load attached to each message? Also, where do you see the GC problem?

[2018-05-15 20:18] clabough commented on #1300
@santiago-elustondo Yes. 1.16.1. What's really weird is that it will show states for simple components within the more complex component that it doesn't show states.  If I can find time, I will try to make a stripped down version that exhibits the issue.

[2018-05-15 20:26] santiago-elustondo commented on #1300
@clabough, what does the complex component take as constructor parameters?

[2018-05-15 21:21] lautaros86 commented on #1114
Hi!
i'm injecting HttpClient at some services, Router at some Components and ActivatedRoute in some other. But the state is missing for all components of app, even if I have no injection.

[2018-05-15 21:32] clabough commented on #1300
@santiago-elustondo Various constructors. I tried making a side project with only part of my main application that wasn't showing states in some components, but it worked there, so it must not be the complexity of one set of components, but the complexity (or number of ) components within the application. I'll let you know when I have a repo that you can view.

[2018-05-15 23:03] andreicristianpetcu commented on #1291
@andrewthauer can I help you in any way to reproduce the issue?

[2018-05-16 05:29] rekna1 commented on #1300
for me the canary build has fixed the issue

[2018-05-16 05:31] nstohler commented on #1283
@santiago-elustondo I've set up a new Angular CLI v6 project, and as soon as I inject any service (HttpClient or even an empty service I've created with `ng g s empty`), I get no more component state.

With the Canary Build, it all works.

[2018-05-16 15:55] walrus95 opened #1301 "Augury not showing properties for a component"
Augury version (required): 1.16.0
Angular version (required): 4.4.3
Date: 5/16/18
OS: Windows 10

Description of issue:
I load my web application and open it up in Augury. Augury will only occasionally show the properties for a component and their values, and sometimes after having to click around at random a ton. It's simply unreliable, big time. Just now I have been trying to get it to show me s

[2018-05-16 16:02] andrewthauer commented on #1301
@walrus95 - @santiago-elustondo published an [Augury Canary build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) that fixed a similar issue that many people have been having. If you wouldn't mind, could you install the canary build and see if this resolves your issue?

[2018-05-16 16:32] santiago-elustondo commented on #1300
Thanks a lot, @clabough. Keep me posted.
Please create a new issue, and I'll be happy to get it resolved when we have a replicable case.

[2018-05-16 16:44] santiago-elustondo commented on #1114
@lautaros86, are you using version 1.16.1  of the [Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji) ?

[2018-05-16 17:34] walrus95 commented on #1301
Welp, one of my components is showing its state in Augury with Augury Canary, but only one, and it's not the one I need to inspect. I would say Canary gets you about 5% of the way there, so it's an improvement, a small improvement though.

Got a Canary for FireFox?

[2018-05-16 17:43] walrus95 commented on #1301
Update: After a little coaxing, I managed to get Canary to actually show me the state of the component in which I'm interested. Go Canary! Now if we just had a FireFox Canary life would be good. (The Augury for Chrome runs slow, but FF Augury is nice and snappy.)

![bird-2871833_1280](https://user-images.githubusercontent.com/32824014/40133888-f922c19e-590e-11e8-94f9-71224a498b66.jpg)

[2018-05-16 17:43] santiago-elustondo commented on #1301
What coaxing was necessary?

[2018-05-16 17:47] santiago-elustondo commented on #1301
Thanks for your input, @walrus95
We will continue to investigate this issue, please let us know if you find any new information, or if you can help us replicate the issue.
We don't currently have a Canary for FF, but we will hopefully release one soon. We only released onto the addon store very recently.

[2018-05-16 17:55] walrus95 commented on #1301
@santiago-elustondo Thank you! I had to click around the component tree a bit to get the properties for the component in which I'm interested to show up, but then I tried it again just now and the proprieties showed up right away without the need to click around first. Unfortunately, it then crashed the Chrome tab right after. I find the FF version much more stable. I have never had Augury crash o

[2018-05-16 17:55] #1301 closed

[2018-05-16 18:19] santiago-elustondo commented on #1283
Version 1.16.2 released, which brings the official FireFox and Chrome versions up-to-date with the Canary Build.

[2018-05-16 18:19] #1283 closed

[2018-05-16 18:19] santiago-elustondo commented on #1283
Please reopen if the issue persists.

[2018-05-16 18:20] santiago-elustondo commented on #1254
Version 1.16.2 released on FireFox just now, which brings the official FireFox and Chrome versions up-to-date with the Canary Build. Please reopen if the issue persists.

[2018-05-16 18:43] santiago-elustondo commented on #1291
@andreicristianpetcu, that would be great.
To be honest, I'm not sure I understand the issue as described.
What are you reading from the `perf.html` log?
Any idea how we might reproduce this?

[2018-05-16 18:47] santiago-elustondo commented on #1291
To offer some context, we are aware that certain component dependencies (notably `Router`) will cause Augury to produce very large serialized messages representing that component's state when that component is selected for inspection. Even then, however, I do not experience significant lag on my end. Do you think this might be related?

[2018-05-16 18:47] walrus95 opened #1303 "[bug] "dark mode" color scheme breaks readability of selected component"
Augury version (required): 1.16.1 (canary on Chrome)
Angular version (required): 4.4.3
Date: 5/16/18
OS: Windows 10

Description of issue:
I love the "dark mode" color scheme. However, the choice of colors obscures the view of the name of a component when it's selected such that it can't be read:

![dark_mode](https://user-images.githubusercontent.com/32824014/40137045-7d838826-5917-11e8-98df-bc95

[2018-05-16 19:03] walrus95 opened #1304 "[feature request] Component Tree properties loading spinner and "no properties found" message"
Augury version (required): 1.16.1 (canary on Chrome)
Angular version (required): 4.4.3
Date: 5/16/18
OS: Windows 10

Description of issue:
I have noticed that there is sometimes a pause in time between clicking on the name of a component in the Component Tree and the properties for that component showing up for view. It would make for a better user experience if there was a spinner that would show

[2018-05-16 19:03] santiago-elustondo commented on #1299
closing due to lack of detail, please reopen if issue persists.

[2018-05-16 19:03] #1299 closed

[2018-05-16 19:44] walrus95 opened #1305 "[feature request] Component Tree snapshot and diff"
Augury version (required): 1.16.1 (canary on Chrome)
Angular version (required): 4.4.3
Date: 5/16/18
OS: Windows 10

Description of issue:
I often find myself digging through the Component Tree in Augury trying to figure out what has changed in the properties of various components in the Component Tree after having performed some action in my application.

I would like to see a “snapshot” feature

[2018-05-17 10:23] KrakenTyio opened #1306 "[bug] JIT, webpack 4 lazyloaded module: Unhandled Promise rejection: Can't resolve all parameters for"
Augury version (required): 1.16.2
Angular version (required): 5-6
Date: 17.5.18
OS: arch gnome

Description of issue:
error described here
[angular issues](https://github.com/angular/angular/issues/23958)

[2018-05-17 10:33] cgatian commented on #1306
Also seeing this issue

[2018-05-17 14:51] santiago-elustondo commented on #1306
Thanks for reporting. This issue is top priority.

[2018-05-17 15:17] elboukhari opened #1307 "Unhandled Promise rejection: Can't resolve all parameters for XXXXXX"
-- please install the [Augury Canary Build](https://chrome.google.com/webstore/detail/augury-canary-build/leechohfifidanmkioncamdcibhmmcji?hl=en) Chrome extension, as this will be used to test any new features or bug fixes.

Augury version (required): 1.16.1 AND 1.16.2
Angular version (required): 5.2.1
Date: 17.05.2018
OS: Debian Linux

-- Please make sure you're using the latest version of Augury

[2018-05-17 15:41] LuisPalomo commented on #1306
Same problem here when injecting a service into a lazy load module.
`ERROR Error: Uncaught (in promise): Error: Can't resolve all parameters for TranslateService: (?, ?, ?, ?, ?, [object Object], [object Object]).`

[2018-05-17 15:49] grumpy-programmer commented on #1307
workaround is downgrading to 1.16.0 by https://crx.dam.io/ext/elgalmkoelokbchhkhacckoklkejnhcd.html (rename .zip to .crx and install)

[2018-05-17 15:55] mxchange commented on #1307
Same issue here it seems: https://github.com/angular/angular-cli/issues/5007

[2018-05-17 16:10] santiago-elustondo commented on #1306
Thanks for the clue, @LuisPalomo.
Can you tell me more about the service you're injecting?
- How are you injecting the service? (as a constructor param, with the `@Inject()` decorator, with `this.injector`, etc)
- What module is providing the service? Is it provided by the lazy loaded module itself?
- What are the service's own dependencies? What modules do they come from? Are they also lazy-loade

[2018-05-17 16:29] LuisPalomo commented on #1306
I'm using:
[code]

The service is the `TranslateService` from `@ngx-translate/core": "^9.1.1`
It's injected in the constructor of the root component of the lazy loaded module:
[code]
[code]

The module that is providing the service is the `TranslateModule` that is imported in the core module of the app:
[code]
Hope it helps! 👍

[2018-05-17 16:31] santiago-elustondo commented on #1306
Thanks, @LuisPalomo.

Issue replicated with the following conditions:
Lazy loaded module provides a service that has not been previously provided by a parent module, and that requires dependency resolutions.

[2018-05-17 17:59] jaj1014 commented on #1307
Having the same issue - currently on 5.2.7 of Angular

[2018-05-17 18:48] staeke commented on #1306
The issue appears on e.g. Webpack’s hot module reload - maybe especially if you’ve loaded your whole angular app and reflect-metadata polyfill lazily. And as I said - somehow Augury’s internal version of reflect-metadata (backend.js) takes precedence. Thus two different versions of Reflect.metadata APIs are used at consumption time and definition time

[2018-05-17 19:28] s001dxp commented on #1307
Since the update yesterday my angular application is broke. IT works when augury is disabled, and breaks when it's enabled. It took me and my co-worker most of the day trying to debug before we realized that it was Augury breaking the app.

Using Angular version 4.3.6 and Augury 1.16.2

[2018-05-17 19:34] williamchristophercooley commented on #1307
yep, this just happened to our whole team out of nowhere, and thought it was a missing Inject() issue, but it turns out it's the Augury plugin after reverting our code back to run it.

[2018-05-17 20:12] santiago-elustondo commented on #1307
Augury rolled back to 1.16.0 until this issue is resolved.
1.16.3 is a rollback release.

[2018-05-17 22:31] andrewthauer commented on #1306
We've published a rolled back version (1.16.3) to address this issue, since it seems to affect multiple people. Unfortunately we were not able to reproduce this issue (in a variety of applications). That said, it is likely related to `reflect-metadata` as pointed out and we have a working solution to avoid this issue moving forward (likely a Canary build tomorrow).

[2018-05-18 11:02] vgordievskiy commented on #1306
I have had this problem after I have updated the Chrome to 66 version

[2018-05-18 12:57] pickfire commented on #1150
Augury is now in [firefox addons](https://addons.mozilla.org/en-US/firefox/addon/angular-augury/) but it keeps appearing in the developer panel even though the webapp is not written in angular.

[2018-05-18 13:02] santiago-elustondo commented on #1150
@pickfire, the FireFox add on is still very much in beta, and we are working through various quirks.
That said, the Augury tab should always be present in the dev tools, regardless of whether the app is Angular or not.
The tab should display a message saying that Angular was not detected in the page. If this is not occurring, then you have identified a bug. Please create an issue with a screenshot